[2014-05-26 06:32] thomasp85 opened #1 "column view support in IE"
Add css support for the list view (columns of files)

[2014-05-26 06:41] thomasp85 opened #2 "Header row in detail view"

[2014-05-26 06:41] thomasp85 opened #3 "File sorting"

[2014-05-26 06:47] thomasp85 opened #4 "Disable select button when no files are selected"

[2014-05-26 08:49] thomasp85 opened #5 "catch when directory is empty"

[2014-05-26 12:40] #2 closed, assigned to nobody

[2014-05-26 13:51] #5 closed, assigned to nobody

[2014-05-26 13:54] thomasp85 opened #6 "Allow multiple virtual volumes as root"
Default the constructor to all volumes/disks. Nee to create a function that get system dependant list of volumes/drives. Use wmic logicaldisk get caption in windows to get all drives. Use mount point on unix systems...

[2014-06-01 18:03] #4 closed, assigned to nobody

[2014-06-01 18:03] #6 closed, assigned to nobody

[2014-06-06 17:44] #3 closed, assigned to nobody

[2014-06-30 05:42] thomasp85 opened #7 "Add shinySaveFile component"
Very parallel to shinyFileChoose, except for a text-field for writing the name of a new file

[2014-06-30 05:43] thomasp85 opened #8 "Add shinyDirChoose component"
For folder selection

[2014-06-30 05:44] thomasp85 opened #9 "Update to use session$sendCustomMessage()"

[2014-07-05 08:05] HermanSontrop opened #10 "small typo in usage example section"
Hi Thomas,

thanks again for your package! Really great :-) Just a tiny remark, there is a typo in the Usage section of your page. In the code below mulitple should be read multiple. Otherwise the example doesn't render...

shinyUI(bootstrapPage(
    shinyFilesButton('files', label='File select', title='Please select a file', mulitple=FALSE)
))

Should be:

shinyUI(bootstrapPage(
    shinyFilesBut

[2014-07-07 13:14] #10 closed, assigned to nobody

[2014-09-03 22:10] yihui opened #11 "import functions from htmltools (solves the addResourcePath() problem)"
The objects `tagList`, `tags`, and `singleton` have been moved to htmltools, so here is what you probably need to do accordingly:

[code]

[2014-09-04 13:14] #11 closed, assigned to nobody

[2014-09-19 09:43] #9 closed, assigned to nobody

[2014-10-20 10:39] vnijs opened #12 "Download from navbar?"
shinyFiles looks really interesting! Just wondering if what I asked in the post linked below might be possible with shinyFiles

https://groups.google.com/forum/?fromgroups=#!topic/shiny-discuss/x-OJgz5PSH8

I would point you to the shiny-server version of the app I am using but it is misbehaving. The full app is on github at:

https://github.com/mostly-harmless/radiant

Basically, what I want to d

[2014-10-20 11:47] #12 closed, assigned to nobody

[2015-01-01 04:25] sjmgarnier commented on #7
Yes, please :-)

I'm trying to write a rmarkdown editor with instant preview for Shiny (on github soon) and this feature would be very, very useful. I currently use shinyFileChoose for opening existing files and I love it. An equivalent function for saving files would be fantastic.

[2015-02-28 19:39] sebkopf commented on #8
This would be a fantastic feature, thanks for considering implementation

[2015-03-16 11:32] thomasp85 commented on #7
@sjmgarnier I have taken this up now and plan on releasing a major update within the next couple of days/weeks. It will also include folder selection, though this seems less important for your use case...

[2015-03-17 15:07] sjmgarnier commented on #7
@thomasp85 Fantastic! I'm working on updating the editor to bootstrap3 and I'll make sure to include your new function when it is released.

BTW, the editor can be found at https://github.com/swarm-lab/editR if you want to give it a try.

Cheers!

[2015-03-19 20:14] thomasp85 commented on #8
Added in 4dab867b

[2015-03-19 20:14] #8 closed

[2015-03-19 20:14] thomasp85 commented on #7
Added in 4dab867b

[2015-03-19 20:14] #7 closed

[2015-03-19 20:17] thomasp85 commented on #7
@sjmgarnier Everything in the github repo should be up and running now. There is still some documentation to be done before I submit to CRAN, but you can begin to play around with the functionality now - any feedback is appreciated. See `shinyFilesExample()` for an introduction to the new modules...

[2015-03-24 04:47] yindeng opened #14 "Weird issue with updating other inputs"
First of all, thanks for this very useful package!

I ran into a very weird issue, and I created a minimal example below to demonstrate one aspect of the issue (I'm still trying to find a small example that replicates the bigger issue I'm having in my shiny application, but I was hoping fixing this issue may at least shed light on the bigger issue).

Here's what's going on: if you click on the "fi

[2015-03-24 09:58] thomasp85 commented on #14
Hi Yindeng

Thanks for bringing this to my attention. It seems that there is an inability for shinyFiles to work directly with updateTextInput(), that probably stems from shinyFiles unbinding and rebinding of input variables as the file chooser is removed. I’ll have a look at this in the coming days, but cannot currently say how long it will take. It will be fixed eventually, though.

best

Thomas

[2015-03-24 17:56] yindeng commented on #14
Hi Thomas,

That would make sense. I look forward to your fix.

Regards,
Yindeng

On Tue, Mar 24, 2015 at 2:58 AM, Thomas Lin Pedersen <
notifications@github.com> wrote:

[2015-03-26 08:36] thomasp85 commented on #14
My suspicion was correct - I have changed the call stack to make sure that changes are only communicated back to the server once everything have been rebounded. It will be part of the 0.6.0 update that will happen in the near future...

[2015-03-26 08:36] #14 closed

[2015-03-27 01:01] SamoPP opened #15 "On Ubuntu 14.04 only "Folder select" works while "File select" and "Save file" do not work using shinyFiles/inst/example"
On Ubuntu 14.04 only "Folder select" works while "File select" and "Save file" do not work using shinyFiles/inst/example . All the controls in "File select" and "Save file" examples are empty, nothing to choose from,...

[2015-03-27 07:01] thomasp85 commented on #15
That seems strange. What browser are you using? Can I get a screenshot of the issue as 'all controls' is a bit ambiguous:-)

[2015-03-27 10:36] thomasp85 commented on #15
I cannot replicate any problems on Ubuntu with either Chrome or Firefox. I will need a more detailed description of the issue as well as your system setup in order to investigate further...

[2015-03-27 10:37] thomasp85 commented on #1
There are general problems with column view in safari as well - there might be need for an alternative css.

[2015-03-27 10:40] thomasp85 commented on #1
Also in Chrome - wonder if the specifications have changed

[2015-03-27 10:45] thomasp85 opened #16 "Update icons once Bootstrap gets updated in shiny"
'Move up' as well as the caret showing expansion state in the folder selection could use some of the new glyphicons available in the most recent Bootstrap version.

[2015-03-27 10:47] thomasp85 opened #17 "Name check in 'Create folder'"
Currently name is not checked before allowing a create folder request. On name clashes with other files and folders it silently fails

[2015-03-27 14:29] thomasp85 commented on #1
Partially fixed in 00508da0. Now chrome has a weird selection bug in column view, where a different file than the one clicked, are being selected. Furthermore it still needs testing on IE

[2015-03-27 17:52] SamoPP commented on #15
Hi. I pulled latest code from github a few minutes ago and rebuild the shinyFiles package. So, here are the screenshots:

![file select error](https://cloud.githubusercontent.com/assets/4817398/6873685/72debc2c-d488-11e4-8ea9-5fb77c42f87a.png)
![folder select ok](https://cloud.githubusercontent.com/assets/4817398/6873694/7d91d528-d488-11e4-8a46-6f9756139d12.png)
![save file error](https://cloud.gi

[2015-03-28 11:24] SamoPP commented on #15
Actually, doing some more testing, Folder select is also not working. If I try and click on Volumes item in the drop down box (see picture above) app freezes.

Also, when I try and click the "up arrow" in "File select" app crashes and this the error:
Warning: Unhandled error in observer: subscript out of bounds
observe({
    dir <- input[[paste0(id, "-modal")]]
    if (is.null(dir) || is.na(dir))

[2015-03-28 11:37] thomasp85 commented on #15
This seems very strange and appears to be specific to your system. Have you tried to open the app in another browser? Can you report on whether the issue persist in both Chrome and Firefox?

[2015-03-28 11:57] thomasp85 commented on #15
Also, can you report the results of running getVolumes() in R

[2015-03-29 01:52] SamoPP commented on #15
So, I started fresh r session from terminal, then run getVolumes() (which returns function in my case which is strange), then again ran the example and opened in Chrome with same result as in Firefox - not working:
user@userVB:~$ R

R version 3.1.3 (2015-03-09) -- "Smooth Sidewalk"
Copyright (C) 2015 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)

R is free softw

[2015-03-29 10:08] thomasp85 commented on #15
My bad for being imprecise. Can you run:

library(shinyFiles)
volumes <- getVolumes()
volumes()

and send me the results?

[2015-03-29 11:37] SamoPP commented on #15
Computer                            apt
                           "/"                  "/media//apt"
                           dvd                    userx
                 "/media//dvd"          "/media//userx"
                  sf_0000-0001           sf_backup_22.08.2011
        "/media//sf_0000-0001" "/media//sf_backup_22.08.2011"
            sf_userx_dev                         sf_tmp
  "/me

[2015-03-29 11:43] thomasp85 commented on #15
It seems to be doing what it should be doing - Do you know how to access the developer tools in Chrome?

If so, can you see if there are any errors occuring when you summon a file chooser?

[2015-03-29 22:33] SamoPP commented on #15
Here are the errors in Chrome when I press select file:
Uncaught TypeError: undefined is not a functionshinyFiles.js:596 populateFileChoosershinyFiles.js:563 createFileChoosershinyFiles.js:1710 (anonymous function)jquery.min.js:3 n.event.dispatchjquery.min.js:3 r.handle

[2015-03-31 04:40] machow opened #18 "Example in README.md returns error from root argument"
When I try to run the example from the README, I get the following error..

`Unhandled error in observer: Roots must be a named vector or a function returning one`

I can run `shinyFilesExample()` without problem. Also, if I give a name to the root argument as in the example in `inst`..

`shinyFileChoose(input, 'files', root=c("R Inst" = R.home()), session=session, restrictions=system.file(package

[2015-03-31 04:53] machow commented on #18
This may be similar to Issue #15. I checked in chrome developer tools, and noticed I received this error when opening the file chooser..

`Uncaught TypeError: Cannot read property 'location' of undefined` (from shinyFiles.js:596)

I'm on Mac OSX, running Yosemite.

[2015-03-31 07:21] thomasp85 commented on #18
The first issue regarding the examples in readme is a blunder on my part and I will get it fixed. Sorry about that.

When you say that the shinyFilesExample() works I expect you to mean that files are shown sand you're able to make selections? But when you build you're own app it doesn't work?

[2015-03-31 18:01] machow commented on #18
Ah, I'm ashamed--I named the input 'file' in the ui but 'files' on the server. Sorry--the second part is completely my bad.

[2015-03-31 18:19] machow commented on #18
One other question (I can open a new issue if it's useful), is it possible to load multiple files, similar to the multiple argument of `fileInput`? If you have any sense for how it might be implemented, I'm happy to take a pass at it.

[2015-03-31 18:26] thomasp85 commented on #18
If you mean selecting multiple files in the file chooser, then it is already implemented using `multiple=TRUE` in the call to `shinyFilesButton()`

[2015-04-02 06:19] machow commented on #18
Fantastic! Thanks so much for your work on this--it looks really good!

[2015-04-04 13:47] sjmgarnier opened #19 "Extra "/" when using parseSavePath"
When using parseSavePath, the returned datapath value has 2 extra "/" added to it just after the roots, making the path to the file incorrect.

[code]

[2015-04-04 16:25] thomasp85 commented on #19
Wouldn't it work if you just removed the slash from the root declaration (making it ~ instead of ~/)

[2015-04-04 20:09] sjmgarnier commented on #19
Will try when I get home. parseFilePaths doesn't have this problem.

[2015-04-04 20:13] thomasp85 commented on #19
Ok - I'll make sure they behave similarly

[2015-04-05 05:01] sjmgarnier commented on #7
@thomasp85 FYI, the latest version of my [`editR`](https://github.com/swarm-lab/editR) package now makes use of the latest functions in `shinyFiles`. Thanks very much for your hard work, it made my life easier and my software better.

[2015-06-08 18:00] SamoPP commented on #15
Hi Thomas,

Any update on this issue? How can I help you debug this?

Best regards,
Samo.

[2015-06-08 20:23] thomasp85 commented on #15
Sorry for being slow on this. With the latest update of Shiny (0.12) they have introduced some bugs that breaks shinyFiles. If you haven't updated yet (or can downgrade somehow) you can help if you know your way around the Chrome debugger. If so can you pinpoint where the code expects a function but gets undefined...

[2015-06-11 03:12] vietmh opened #20 "Multiple directories selection"
Hi Thomas,

I'm using this package and like it very much. But did you support to select multiple directories ? If yes, please tell me how to do it.

Thanks.

[2015-06-11 07:14] thomasp85 commented on #20
It is not possible and not planned. Generally this is not possible in directory choosers from the major OSs so it is not an anticipated interaction for the user.

If you can come with a very compelling reason to implement it I'll consider it but my general feeling is that such a feature will lead to ambiguousness in the UI and confusion for the user...

[2015-06-11 07:24] vietmh commented on #20
Hi Thomas, thanks for the quick answer. I write an open-source importer for a popular GC/MS platform (agilent) and they store each analysis in one directory. So It would be handy to choose multiple directories for processing. Or you maybe have another, better idea how to solve this problem?
Cheers
Viet

[2015-06-11 07:28] thomasp85 commented on #20
Yeah, agilent has some messed up output 'files' :-)

I would suggest that your users choses the directory containing the agilent 'files' instead. This will of course require them to select them all at once...

I'll think a bit about it

[2015-06-11 08:33] lorenzgerber opened #21 "output update in shinyFileChoose"
Hi Thomas,

I'm playing around with your package, nice stuff!

I have a small issue: When I run shinyFileExample(), the fields 'verbatimTextOutput' containing the chosen files/dir never update. Same problem when I write a function by myself. Although, funny enough, on exiting with stopApp(), I get the chosen file/dir out.

Cheers
Lorenz

[2015-06-11 08:35] thomasp85 commented on #21
Hi

You’re not the first today to mail me about that. This is due to a bug in shiny itself, which has been fixed but is not currently on CRAN

please install the version of shiny from github and everything should be fine.

best

Thomas

[2015-06-11 08:42] lorenzgerber commented on #21
Thanks for the hint. Works perfect.
Cheers
Lorenz

[2015-06-11 22:25] SamoPP commented on #15
Good news. After installing latest version of shiny from github this magically works now. Thanks.

There is just one thing I do not understand whether it is a bug or a feature: I can only select folders on the left pane from the tree but not from the right pane... It would be nice that if clicked on the folder on the right pane that would show as selection result...

[2015-06-12 06:24] thomasp85 commented on #15
That's good to hear. There have been some bugs in the latest version of Shiny that affected shinyFiles but I didn't expect them to cause what you described. Glad it solved itself out.

Regarding the functionality of the dirchooser, the right window is thought as a glimpse into the selected folder and not a navigation tool. The idea is that the user could be reassured that it was indeed the correct

[2015-06-12 06:24] #15 closed

[2015-06-12 06:24] #21 closed

[2015-06-18 19:21] ndimhypervol opened #22 "example doesn't print outputs correctly"
I just downloaded your package and ran the example and noticed that the renderPrints aren't rendering when I make my selections.

[2015-06-19 06:39] thomasp85 commented on #22
Duplicate of #21. Update Shiny with latest version from GitHub, as it is a bug in that package...

[2015-06-19 06:39] #22 closed

[2015-07-23 13:29] akaever opened #23 "Side effects between shinyFiles dialogs and shiny::renderUI elements"
There seems to be an unwanted side effect between shinyFiles dialogs and the shiny functions renderUI and uiOutput. When opening a shinyFiles dialog, UI elements generated by uiOutput are reset to their initial value. UI elements generated directly in the shiny UI part are not affected. Tested with sliderInput and textInput, see

[code]

Thanks

[2015-08-10 07:16] thomasp85 commented on #23
Thanks for the report - I've been off with a concussion, hence the late reply.

My feeling is that this is due to Shiny as similar cases have been. Thankfully they have been quite good at responding to these things so they probably will be in this case too - I'll look into it...

[2015-08-11 07:05] thomasp85 commented on #23
This is indeed a Shiny bug residing in the unbindAll-bindAll pattern - I'll notify the Shiny devs...

[2015-11-06 22:31] qinzhu opened #24 "Directory contains files but content shows "Empty folder""
Hi Thomas,

It seems when using shinyDirButton to choose directory, in the modal interface, content part, only directories can be shown, and it shows "Empty folder" even if the folder contains files. I guess this is a bug?

Btw, your package is awesome.

Thanks,
Qin

![screen shot 2015-11-06 at 5 27 31 pm](https://cloud.githubusercontent.com/assets/10772232/11010270/b0a48b26-84ab-11e5-89fd-f8ed027

[2015-11-07 08:48] thomasp85 commented on #24
Can you provide a reproducible example? Or is it specific to your system?

[2015-11-07 19:37] qinzhu commented on #24
Example:
For ui.R:
[code]
For server.R,
[code]

I have a macbook with OSX EI Captitan, and the problem exists in chrome and the R-studio viewer.

I guess this is system related?

[2015-11-07 20:17] thomasp85 commented on #24
I'll give it a look, but I'm a bit hung up next week, so can't promise a deadline

[2015-11-07 20:21] qinzhu commented on #24
Cool. Thanks Thomas.

[2015-12-04 10:23] kajomano opened #25 "shinyFiles not binding with renderUI output"
Hi Thomas,

I tried to use your package in a dynamic shiny page rendering the output with renderUI, but the observer does not seem to trigger when clicking the button. The same code works if the shinyFilesButton() function is called in the ui somewhere.

[code]

[2015-12-04 10:24] kajomano commented on #25
This guy has the same issue: http://stackoverflow.com/questions/33740939/shinyfiles-and-renderui-dont-work-properly

[2015-12-08 09:41] thomasp85 commented on #25
This is definitely something I want to look into - thanks for bringing it to my attention! Currently, and until early summer, I’m forced to focus on finishing my PhD, so all my fun side projects (of which shinyFiles is one), has been severely downgraded in priority. If it is mission critical for you I’ll urge you to make a PR with a fix, and I’ll take the time to review it. My gut feeling is that

[2015-12-08 19:01] kajomano commented on #25
Hey, thanks for the reply. While fixing the issue would make my life easier, it's really not mission critical. I am somewhat new to shiny and web developing in general, but if I have the time I will definitely try to do a PR.

[2015-12-23 09:45] kajomano commented on #25
Hi Thomas,

I have been trying to make your package work with renderUI and I have found the following problems so far (only using FileChooser):

1) When using a renderUI call to create the shinyFilesButton on the page, the corresponding shinyFileChoose observer might be created before the HTML element is actually present on the page (populateFileChooser gets an empty element selection). This resul

[2016-01-25 16:44] omarbenites opened #26 "How can I add an icon to shinyFilesButton"
Hello Thomas,
I wonder If how I can add an icon to shinyFiles button. Here I have an example:

![image](https://cloud.githubusercontent.com/assets/5264796/12557423/a5f29dd0-c358-11e5-8488-33b1364b06ec.png)

Is it possible add a argument called 'icon' in shinyFiles( id,input, icon, ...)?

Thank so much in advance!

[2016-03-11 23:33] thomasp85 commented on #26
Sorry for the late answer. Thats a possible enhancement. I'll look into it when time permits (finishing a PhD atm). Until then, the html markup required for a shinyFiles button is quite simple and well documented so you could have a go at that...

[2016-03-13 07:37] ddiez opened #27 "Including shinyFiles in shiny module"
When including shinyFiles into a shiny module, when clicking the shinyFilesButton() the navigation window shows no files. If the same code is run not in a module it works as expected. I am wondering if something in the design of shinyFiles prevents it from working nicely with the new shiny modules. This happens with shinyFiles_0.6.0 and shiny_0.13.1. Here is a minimal reproducible example:

[code]

[2016-03-13 08:19] thomasp85 commented on #27
Thanks for this. I've not had the time to look into modules yet due to a very imminent PhD deadline, but I'll look into it once this is done. In the meantime PRs are welcome:-)

[2016-03-13 08:45] ddiez commented on #27
Thanks for the quick reply. I have found the way it can work. The information was in the [shiny module's help](http://shiny.rstudio.com/articles/modules.html) page but somehow it escaped me. The proper way to create the server part of the module in this case is by wrapping the 'id' with the namespace function obtained from the 'session' variable.

[code]
Thank you for this great package- its doing

[2016-03-13 09:12] thomasp85 commented on #27
Glad you got it to work - I might add this to the docs as it is probably not the first time this issue comes up

[2016-03-27 01:26] daattali opened #28 "Can't run simple example in README"
I just tried running the very simple example in the README and I get an error.  Here's the complete app:

[code]

The error:

[code]

sessionInfo:

[code]

I tried with and without declaring a `session` parameter in the server function

[2016-03-27 01:30] daattali opened #29 "Can't use shinyFiles without explicitly loading it via library()"
Here's a simple use of shinyFiles with namespacing instead of using library():

[code]

This does not work.  When I look in the JS console, I see that there are errors trying to fetch JS and CSS files.  This pointed me to believe that the resources are not found because a resource path is not being declared.  It looks like the resource path [gets added when the package is attached](https://github.

[2016-03-27 05:36] thomasp85 commented on #28
Does the example in the package work?

[2016-03-27 05:40] thomasp85 commented on #29
I'll look into a fix but first after April as I have a PhD to hand in

[2016-03-27 05:51] daattali commented on #28
What's the example in the package?  I haven't looked too much into the
documentation, I just read the README.  Point me to a specific example?

---
http://deanattali.com

On 26 March 2016 at 22:36, Thomas Lin Pedersen <notifications@github.com>
wrote:

[2016-03-27 06:25] thomasp85 commented on #28
Run `shinyFilesExample()` and see if it gets you anywhere

[2016-03-27 06:29] #29 closed

[2016-03-27 06:33] daattali commented on #28
Yes that works.

After looking into the source code a bit, I see the problem. `shinyFileChoose` expect a session parameter.  The example in the README does not provide a session argument. FYI you necessarily need the user to pass the session object, see [how I do it in shinyjs](https://github.com/daattali/shinyjs/blob/c03d054f48236456f75ccde3c494dfe79eab6c2c/R/utils.R#L7-L15)

[2016-04-01 04:26] darkwish121 commented on #25
Hi Thomas, This issue is still alive. Are you going to fix or hint me where to use Shiny.unbindAll() and Shiny.bindAll() in your code. I'll fork and do it. [Here](http://stackoverflow.com/questions/36197354/rendergvis-not-working-with-renderui-and-plotoutput-while-creating-multiple-go) is my question related to this in stackoverflow

[2016-04-01 07:25] thomasp85 commented on #25
I know -  It's in top three to-do after I hand in my PhD next month... I'm quite convinced that it is a regression in Shiny, rather than a bug in shinyFiles, but if you wish to try with a PR I'm very welcome to that

[2016-04-01 09:19] darkwish121 commented on #25
Thanks and good luck for your PHD

[2016-04-01 17:45] qinzhu opened #31 "OsX EI Capitan (10.11), unable to choose directory from user folder"
Recently I found the shinyDirChoose function stopped working when I set the root to c(wd = "~") in mac. The "Select" button does not respond to clicking. Also folders in home folder cannot be expanded to view the subdirectories.

I read from the Latex updates that 'Under OS X 10.11, El Capitan, writing to /usr is no longer allowed, even with Administrator privileges'. I'm not sure if it's caused b

[2016-04-01 18:10] thomasp85 commented on #31
Hi Qin

Sorry to hear that there is trouble. I'll look into it once I've handed in my PhD (a month from now)

[2016-04-01 18:15] qinzhu commented on #31
Thanks a lot! Good luck with your PhD!

Qin

[2016-05-05 02:32] caleblareau opened #32 "shinythemes not supported"
I had an issue trying to have both a theme and i/o with shinyFiles. MWE is the shinyFilesExample() with a theme added

library(shinythemes)
https://rstudio.github.io/shinythemes/

When I go to browse a file with any of the buttons, the screen gets grey-ed out and I can't navigate/select.

Thanks!

[2016-05-19 06:06] darkwish121 opened #33 "Shiny reset everything to default when click on shinyFile's shinyDirButton button."
While building a shiny app, there is a button to choose directory of files this button made by shinyFiles package. There are also some radio buttons on page or a button to show/hide **Hide data chunk** a div. Problem is after first time select the folder, then select any other radio button which was not default or click on show/hide button it becomes **Show data chunk**, then as soon as second tim

[2016-05-22 20:50] #18 closed

[2016-05-22 21:08] #19 closed

[2016-05-22 21:38] thomasp85 commented on #20
I know this is old and overdue. I've decided upon allowing directory selection in `shinyFileChoose` when the directory is file-like (that is, have an extension) and the extension is specifically mentioned in the `filetypes` argument. If this is still relevant for you I hope it will solve your issue.

It will be included in the next update

[2016-06-17 15:08] njburgoyne opened #34 "Crosstalk with rpivotTable"
Hi nice package, just Started using this package, so I really hope this isn't a stupid issue.

I am trying to load multiple files, and then render some output in a pivottable (using `rpivotTable`).

When I try with both packages in the same app there appears to be a bug that seems to be caused by js crosstalk between the two (I am not an expert so can't tell you where, but the js traceback seems t

[2016-06-17 15:14] timelyportfolio commented on #34
ref https://github.com/smartinsightsfromdata/rpivotTable/issues/52

[2016-06-17 19:55] thomasp85 commented on #34
This is not so much crosstalk between shinyFiles and rpivotTable as it is problems with some combination of Shiny, htmlWidgets, and rpivotTable when calling Shiny.bindAll() (which shinyFiles does, but it is using the shiny API)...

I'll try to raise the issue with the RStudio folks, but other than that there really isn't anything I can do on the shinyFiles side

[2016-06-17 19:55] #34 closed

[2016-07-11 21:21] HarlanH opened #35 "shinyFilesExample File select doesn't work"
On this system:

with `shinyFiles_0.6.0` and `shiny_0.12.2`,

when I run `shinyFilesExample()`, the Folder Select button works fine, but the File Select button doesn't work at all. I get the attached mostly-blank window. None of the buttons do anything. There's no error in the console.

Any ideas?

<img width="927" alt="shinyfiles-issue" src="https://cloud.githubusercontent.com/assets/130809/16747

[2016-07-12 10:34] tkaiser86 opened #36 "Opening folders on touch devices"
My shiny app is used mainly on touch devices and I found that I can't get into folders using them. It seems that a "double click" is necessary for opening a folders. Any idea how I can open a folder using touch?

[2016-07-13 06:33] burgerga opened #37 "Is it possible to initialize/reset the file/dir choosers?"
For example, I would like to initialize the dir chooser to the working directory.
Or reset the form to the initial state.

[2016-07-14 12:57] burgerga commented on #33
Minimal example:

[code]
As you can see it happens only for the selectInput added with renderUI

[2016-07-14 13:45] burgerga commented on #33
Duplicate of https://github.com/thomasp85/shinyFiles/issues/23

[2016-07-21 14:48] SamGG opened #38 "still some wrong filetypes examples with dot"
Hi,
Thanks for this wonderful package that will enhance my developments.
Could you correct those misleading examples, at the one in the readme ?
Best.

[2016-07-21 15:57] dominiqueemmanuel commented on #25
Hi,

Do you have any information (from Shiny developers ?) if the problem came from a regression in Shiny finaly ?

Best regards,
Dom

[2016-07-21 19:29] thomasp85 commented on #25
No, but my best guess is that it happened with the 0.13 release. This release came with another regression related to bindAll so I believe there has been some rework done on the internals at that point. I've always made my UI with custom html so this has never been something I've bumped into myself, thus this is pure speculation

[2016-07-27 20:04] SamGG opened #39 "Companion tools: file explorer/manager, batch/queue"
Hi,

It's a pleasure to use shinyFiles.

In order, to integrate a set of tools via the shiny interface, did you plan to develop a file explorer or manager in order to:
- upload files asynchronously before processing them,
- review/browse HTML/markdown results if any.

In addition, a batch or a queue manager would be useful.

Best.

[2016-07-28 08:56] olivier6088 opened #40 "shinyDirChoose() with getVolumes() only select C:/ in windows 7"
Hi,

Under Windows 7 the function shinyDirChoose() coupled with getVolumes() is unable to select other volume but C:/

![image](https://cloud.githubusercontent.com/assets/10126543/17206717/27a2c472-54c2-11e6-89bf-e0f254f9864f.png)

The problem comes from getVolumes().

A simple solution is to change the code in windows case by the following code:

[code]

The problem came from the parenthesis `(`,

[2016-07-28 09:28] thomasp85 commented on #40
Thanks for this. The fix will be implemented fastest if you make a PR, but I'll eventually get to it anyway

[2016-07-28 10:38] olivier6088 commented on #40
Good to know, it's my first issue on somebody else repository !
Never done a PR before...

[2016-07-28 11:22] thomasp85 commented on #40
This is a good chance to try it then - I'll be happy to walk you through it once I'm back from vacation next week. You already have the fix so it's mostly about how to deal with the whole PR thingy...

[2016-07-29 07:08] jfhullo commented on #24
Any solution has been found ? I do have the same problem.

[2016-08-02 10:03] SamGG commented on #39
For the file manager, I found a review
http://webeasystep.com/blog/view_article/Best_free_file_manager_alternatives_to_CKFinder
Most managers depend on PHP at server side, but one is offering clear specifications in order to implement the server side responses in any language
http://www.roxyfileman.com/api
Best.

[2016-08-02 10:43] thomasp85 commented on #39
shinyFiles currently has the feature level I set out to achieve when I wrote it. I've toyed with the idea of creating an embeddable (not a modal window) file browser as well, but currently I do not have time for this. It is unclear to me what the two bulletpoints entails. Uploading etc is all something that needs to be done outside of shinyFiles and so is any preview/display of files..?

[2016-08-02 11:07] SamGG commented on #39
The batch/queue point aims to address a long computation after having setup its parameters with the help of Shiny.
The file manager point aims to address the need to upload and delete files. IMHO, these two features are sufficient features. Image display or thumbnail creation are unneeded features. Unfortunately I have not the skill to develop in Javascript/AJAX.
I do understand that these aims ar

[2016-08-02 11:13] thomasp85 commented on #39
shinyFiles reason d'etre is to allow different type of server-side file-system navigation. In the case of locally running apps the server and client filesystem happens to be the same. Upload of files to a server is best served by the standard approaches (`fileInput`). It's easy (though potentially dangerous) to offer deletion of files on the server using the shineFileChoose functionality in shinyF

[2016-08-02 11:48] SamGG commented on #39
It makes sense.
My point concerns the upload process mainly. The objective of one of our Shiny app is to offer a down-sampling process of an uploaded file in order to ease the setting up of the computation of the whole data file.  The overall transfer/upload from the Web browser to a local Shiny server does not work correctly for a 150 MB file. This is the point I would like to address with a ligh

[2016-08-02 12:08] thomasp85 commented on #39
Have you tried to change the file size limit? Anyway, if it is running locally you can simply choose the file with shinyFileChoose, right?

[2016-08-02 14:07] SamGG commented on #39
File size limit is set to 2 GB during classical fileInput tests.
In-house (ie locally, intranet) the server access files using a share, and, shinyFiles allows the apps to run. That's perfect.
In order to offer the same processing to other users, and as a demo of the tools as well, we would like to allow those users to upload their own file (without any care of privacy). That why we need a file man

[2016-08-02 15:20] thomasp85 commented on #39
So you want users to browse files on there own compute and upload to a remote server? This will not be possible with either shinyFiles or any solution in other languages (PHP or others). The security is imposed at the browser level and no code running in the browser or server will be able to access the client file system...

[2016-08-02 15:34] SamGG commented on #39
Sorry, my wording is may be incorrect. The idea is to propose to the user an upload manager (either the upload button or a drag'n drop zone) that is compatible with files of 150 MB (ie no timeout or whatever that cancels the upload). Then the user should be able to select those files, yet on the server, by use of shinyFiles. Such an uploader does not break the security on the client side. The file

[2016-08-02 18:13] thomasp85 commented on #39
For the first part you have to rely on the mechanism provided by the browser, which is what `fileInput` wraps. Thus you have to find out why this does not work. It could be some settings unrelated to the server logic such as firewalls. PHP would use the same mechanics so it's hard to get around

[2016-08-02 19:47] SamGG commented on #39
I didn't profile the problem yet. It occurred on two different servers under Linux, each installed differently. So I thought the failure depends on shiny service. But as Apache serves as a proxy for shiny apps, Apache could be faulty also. I will test independently Apache and Shiny.

[2016-08-22 15:06] joe-gz opened #42 "display two directories"
Hi, I see this issue was posted a while back (https://github.com/thomasp85/shinyFiles/issues/20). But i'm wondering if there is support to select one directory, display that tree, then go back and select a second directory and display them both. Do you have any advice for that?
Thank you!

[2016-08-24 13:04] ZdenekKabat commented on #32
Confirmed. It would be nice to have shinythemes compatibility.

[2016-08-24 13:08] thomasp85 commented on #32
shinyFiles relies heavily on bootstrap v3. If the themes in shinythemes are build on top of that there should be no problem, but otherwise it is out of scope to support random css specs... I would guess that the problem is that some of the themes are based on bootstrap v2?

[2016-08-24 13:16] ZdenekKabat commented on #32
I cannot tell, but it seems that the last update of shinythemes was 2 years ago. The .css files have comments including "bootswatch v3.3.1+2" so I'm not sure.

[2016-08-28 15:37] thomasp85 commented on #24
I've been quite away from all my personal projects for a while so sorry for the late reply...

The reason is likely that you pass a filetypes vector to shinyDirChoose - have you checked that your folders contain any txt files?

I'm on the same system and don't have any problems

[2016-08-28 15:43] thomasp85 commented on #40
Fixed in 8202f00

[2016-08-28 15:43] #40 closed

[2016-08-28 15:48] thomasp85 commented on #28
I'm shamelessly stealing the `getSession` function then :-)

[2016-08-28 15:48] #28 closed

[2016-08-28 15:54] thomasp85 commented on #31
I cannot reproduce this problem on my own mac. Can you test again - possibly on another system..?

[2016-08-28 15:55] #32 closed

[2016-08-28 15:57] #20 closed

[2016-08-28 15:59] thomasp85 commented on #35
Please update shiny and report back on whether the problem persists...

[2016-08-28 16:00] thomasp85 commented on #36
This is currently not possible - I never really envisioned this for touch I must admit...

I'll see how difficult it would be to add touch support

[2016-08-28 16:03] thomasp85 commented on #37
That is not currently possible. I will consider adding this though

[2016-08-28 16:11] thomasp85 commented on #38
Sure - sorry 'bout those

[2016-08-28 16:11] #38 closed

[2016-08-28 16:12] thomasp85 commented on #39
Have you had any progress?

[2016-08-28 16:13] thomasp85 commented on #42
Can you elaborate? I'm unsure what you want...

[2016-08-28 16:30] burgerga commented on #23
Link to Shiny bug: https://github.com/rstudio/shiny/issues/1244

[2016-08-28 17:59] daattali commented on #28
haha glad to help :)

[2016-08-28 19:34] SamGG commented on #39
I worked a little bit on it, but spent most of my time making applications work with shinyFiles. I came back to work this week. I will check. Thanks.

[2016-08-29 15:03] joe-gz commented on #42
Hi, thanks so much for your reply! to elaborate further.. the below screen shot shows my current tree. I've selected one directory, and it's displayed as a tree exactly as i would want.  However, if i click on "Folder Select" again, and choose another directory, it replaces what is already there (which i totally understand is the correct purpose more often than not).  Do you have any advice to gen

[2016-08-30 07:37] thomasp85 commented on #42
Isn't this a matter of how you handle the return value in server? Instead of overwriting the selected directory you should append to it?

If this is the case this has nothing to do with shinyFiles

[2016-08-30 12:09] tkaiser86 commented on #36
If adding double click support for touch is too complicated, a simple (and optional) "enter directory" button would be just fine.

[2016-08-31 18:11] qinzhu commented on #31
Hmm, the problem seems no longer there. Probably my configuration went wrong at that time. Thanks for checking it out.

[2016-08-31 18:21] qinzhu commented on #24
I just ran the example again and the problem seems still there - and there are .txt files in that folder. Also I think the "Empty folder" is a litter counterintuitive even if the user specified a file type, because the folder is not empty. Maybe something like "Does not contain the specified file type" works better. I also find that, if I do not specify the filetypes argument, the folder contents

[2016-08-31 19:15] rfarouni opened #43 "class "connection" warning"
Hi,

I am using Bioconductor pacakges in an Shiny app, and I keep getting this message

`
Found more than one class "connection" in cache; using the first, from namespace 'BiocGenerics'
`

If I am not mistaken, it seems to me that problem is caused by the RJSONIO package that ShinyFiles depends on. The class "connection" in RJSONIO is probably also the name of another class in BiocGenerics.

Is th

[2016-08-31 20:14] #31 closed

[2016-08-31 20:15] thomasp85 commented on #24
try removing the dot from the filetype e.g. `.txt` -> `txt`

[2016-09-01 08:19] SamGG commented on #24
I fall into the same error because of an old help or tuto, but I don't remember where it was. This repository seems to be OK.
HTH

[2016-09-01 08:33] thomasp85 commented on #24
There has been some lingering examples where extensions were erroneous specified with a dot - these have recently been fixed

[2016-09-15 13:15] bbritten opened #44 "shinyFilesSelect does not display anything when called from modalDialog"
I'm trying to embed the `shinyFilesButton` into a modal provided by shiny version 0.14, and it doesn't seem to work quite as intended. MRE below.

[code]

Session Info:

[code]

[2016-09-15 14:00] tgirgin23 commented on #42
I believe what Joe is asking is if it is possible to upload a new folder to the already uploaded set of folders. So let's say the user uploads a folder containing multiple files, is there anyway the user can then add more files to the already uploaded set of files?

Thank you Thomas for your work on this package!

[2016-09-23 15:01] zeehio opened #45 "parseSavePath crashes if shinySaveButton does not have filetype"
Hi,

Thanks for your work on this package and congratulations on your PhD (I assume you have finished it since there is a new version of shinyFiles around).

Going to the issue...:

If shinySaveButton does not have filetype specified, it is set to null by formatFiletype. Then parseSavePath will crash at the `data.frame(name = selection$name, type = selection$type, datapath = savefile)` because the

[2016-09-23 15:11] zeehio commented on #45
Also it may make sense to use  `stringsAsFactors = FALSE` in the data frame that is returned from parseSavePath.

[2016-09-28 20:23] smartinsightsfromdata commented on #34
@thomasp85 @njburgoyne

I tried to see if I could see anything untoward.  Unfortunately with RStudio Server on OSX (configured with homebrew) & shiny 0.14 I couldn't make the shinyfiles own demo work:
- The file button gave error
- The folder button showed a directory, but I couldn't click on anything (i.e. I tried with no effects).

Without a proper working demo of shinyfiles I'm stuck.

[2016-09-29 10:00] danielsjf opened #46 "ShinyFiles and shared drive"
I use drive letters on Windows to refer to shared drives. ShinyFiles works great for directories on my C drive, but it doesn't work for shared drives. I can actually refer to the initial location (e.g. 'F:/'), I see all the subfolders but I can't click on them. If I refer directly to a subfolder on the shared drive, the filepicker doesn't work at all. I tried via a shortcut on the desktop, but he

[2016-10-02 17:53] zeehio commented on #43
@rfarouni Would you mind testing if the change from RJSONIO to jsonlite fixes your issue?

You can install the patched version with:
[code]

You can switch back to the latest shinyFiles CRAN version with

[code]

[2016-10-03 22:54] tiagochst commented on #43
It solved for me. Thanks!

[2016-10-04 03:42] zeehio commented on #43
Cool! Thanks for verifying! Now it is just a matter of merging the patches +1

[2016-10-06 16:37] elcombato commented on #26
added in #50

[2016-10-08 18:58] omarbenites commented on #26
Thanks!!

[2016-10-08 18:59] #26 closed

[2016-11-03 09:48] zeehio opened #52 "Have MyDocuments and Desktop in getvolumes (with solution)"
Right now to have MyDocuments and Desktop as volumes on Windows machines I am using this.

(Note that this depends on powershell being available)

[code]
And then
[code]

Maybe this would be a nice addition to `getVolumes`.

Currently `getVolumes` returns a function that is called very often, to see if there are updates on any volume (new USB attached, etc). This has a strong performance penalty o

[2016-12-02 11:39] cactus74 commented on #37
I second that. An equivalent do update*Input() functions would be very useful.

Otherwise this a great and very useful package. Thanks a lot for this!

[2016-12-06 20:37] demetriusgnu commented on #25
Hi, no solution for this? Thanks

[2017-03-14 12:14] sylvainschmitt opened #53 "Ehancement: Ability to type the file path"
Hello,

First thank you for this great package. It was really useful to me in building a graphical user interface inside my own package. On user asked me if it was possible to add ability to type the file path in the shinyFiles file access to gain time ? It might be on good improvement of the existing file access engine.

Have a nice day,

Sylvain

[2017-03-15 14:48] cmdcolin opened #54 "Allow ability to use shiny bookmarking with shinyFiles"
I thought it would be nice to have "bookmarkable app state" with shiny files enabled. I tried just switching on enableBookmarking but it seems maybe some extra work needs to be done to create "restore aware inputs" https://github.com/rstudio/shiny/wiki/Bookmarkable-state

[2017-03-16 08:14] thomasp85 commented on #54
This is indeed a good idea, unfortunately shinyFiles is currently on maintenance mode due to higher prioritised projects so I will not have time to implement this myself. I will however welcome a pull request and help with questions.

[2017-03-16 08:15] thomasp85 commented on #53
This is indeed a good idea, unfortunately shinyFiles is currently on maintenance mode due to higher prioritised projects so I will not have time to implement this myself. I will however welcome a pull request and help with questions.

[2017-03-16 15:01] cmdcolin commented on #54
Super! I was trying to look at it yesterday but not sure I got all the way

For example with this patch

[code]

The restoreInput can get some of the info from a bookmark

[code]

But I was trying to figure out how to pass that info in, as just setting `data-val` didn't work. Maybe I need to look at the javascript?

[2017-03-21 15:11] cmdcolin commented on #27
I found what I think is a bug in the shinyDirChoose related to shiny modules even after taking into consideration the namespace consideration that @ddiez brings up

It is off because shinyDirChoose will actually initially list the directories fine, but you cannot navigate subdirectories if you are doing shinyDirChoose from within a module

Test case 1, not submodule, works fine

[code]

Test case

[2017-03-21 23:26] cmdcolin commented on #27
If I dig in a bit, I end up getting a weird result....

For example with the above example using the module, and with this patch to the source code to add debug printing

[code]

Outputs the following after clicking a subdirectory

[code]

It looks like the input is called add-modal instead of foo-add-modal (foo being the prefix for the submodule)

[2017-04-08 19:57] PeterVermont opened #55 "shinyFiles and shiny js bad interaction"
There is bug if there are at least two shinyFile objects and at least one is created disabled with shinyjs, then the remaining enabled shinyFile object will show the file dialog TWICE. (or it could be that it opens the window twice and that I only see the underlying one when I close the top one).

Creating the item normally and later disabling it does not cause the bug -- it must be created disabl

[2017-04-08 20:48] daattali commented on #55
fixed on shinyjs 0.9.0.9001 (problem happened because shinyFilesButton returns a tagList that includes a head tag and shinyjs tripped up on that head tag because no other input I encountered before had that)

[2017-04-08 20:49] PeterVermont commented on #55
Already fixed at shinyjs!

[2017-04-08 20:49] #55 closed

[2017-04-08 21:57] PeterVermont opened #56 "parseSavePath gets an error when no file extensions specified in save dialog"
[PeterVermont_modified_example.zip](https://github.com/thomasp85/shinyFiles/files/907828/PeterVermont_modified_example.zip)

Using version 0.6.2

There are two errors, both viewable in the attached minor modification of your example
1. you must hit the "Save' button twice. This was true in the packaged released version with no modifications.
2 If no file extensions are passed to the save then call

[2017-04-08 22:08] PeterVermont commented on #56
If you pass empy vectors into filetypes you do not get the error:

shinySaveButton('save', 'Save file', 'Save file as...', list('hidden_mime_type'=c())),

Looks like you are expecting a filetype...

[2017-04-08 22:12] PeterVermont commented on #56
By the way -- the reason I did not specify a type is because I wish to copy a folder rather than save a file. I do not use shinyDirButton because I want the user to tell me the name of the new directory I will create.

[2017-04-08 22:15] PeterVermont commented on #56
Sorry -- now see this is a duplicate of https://github.com/thomasp85/shinyFiles/issues/56

[2017-04-08 22:17] PeterVermont commented on #45
A workaround is to pass an empty list as the filetype:

`shinySaveButton('save', 'Save file', 'Save file as...', list('hidden_mime_type'=c())),`

[2017-04-21 17:34] danielcanueto opened #57 "Error with R 3.4"
Hi Thomas,

When loading a Shiny app with 3.4, I get this message:

Warning in body(fun) : argument is not a function
Warning in structure(x, class = unique(c("AsIs", oldClass(x)))) :
  Calling 'structure(NULL, *)' is deprecated, as NULL cannot have attributes.
  Consider 'structure(list(), *)' instead.

When I click on the ShinyFiles button to save a variable, no folder appears on the menu, and w

[2017-04-24 16:22] danielcanueto commented on #57
Hi Thomas,

When loading a Shiny app with 3.4, I get this message:

I know have a better idea of the problem. The package cannot deal well with R 3.4 in Windows (in Linux it can, and in Windows deals well with R 3.3). If the 'volumes' variable given here:

 shinyFileSave(input, "save", roots=volumes, session=session)
    fileinfo <- parseSavePath(volumes, input$save)

 is something like 'R.home()'

[2017-04-24 18:14] thomasp85 commented on #57
Hi Daniel

I'm sorry this regression has caused a delay in your submission. Unfortunately shinyFiles is quite low in my priority list (all of my projects are done in my spare time) and I will not be able to look into this right know. At least a month will go before I can attend it. Sorry about this but I just want to be upfront about it.

Best
Thomas

[2017-04-29 21:53] #43 closed

[2017-04-29 21:59] #45 closed

[2017-04-29 22:01] #56 closed

[2017-04-29 22:07] thomasp85 commented on #52
These system level niceties would indeed be nice, but I'm not going to put a powershell dependency in for the sake of that.

I was unaware of the penalty hit in Windows. The user/developer is free to set the update frequency so it should be easy to control IMO. Otherwise just use a constant vector as you suggest

[2017-04-29 22:07] #52 closed

[2017-04-29 22:10] thomasp85 commented on #46
Sorry for the late reply. I do not have access to a windows machine to test this on so it is hard for me to debug. Are there any warnings or errors being thrown from R that can shed light on what is happening?

[2017-04-29 22:14] thomasp85 commented on #44
I have little ressources for further work on shinyFiles so this is unlikely to see a fix from me. If you wish to submit a PR to fix this I would welcome it. I assume the problem lies in some of the javascript code not expecting multiple modals being possible.

[2017-04-29 22:16] #42 closed

[2017-04-29 22:17] #39 closed

[2017-04-29 22:21] #27 closed

[2017-04-29 22:22] #24 closed

[2017-04-29 22:23] #35 closed

[2017-04-29 22:25] thomasp85 commented on #54
There will definitely be need for modifying the javascript as the data-* properties needs to be updated every time something change

[2017-04-29 22:28] thomasp85 commented on #57
Can I get you to create a minimal app that shows the behaviour you're reporting

[2017-05-12 01:19] tiagochst opened #59 "Select by pattern"
Hi,

Please, It is possible to filter by file extension, but would it also be able to filter by pattern in the file name?

Example: if my folder had:  "file_input.rda","file_output.rda", "file.pdf". And we want only files with input pattern in the name.

Thanks!

[2017-06-14 16:42] lecrabe commented on #57
Hi Thomas
I have exactly the same problem  (functioning in LINUX 3.4 and Windows <= 3.3 but staying in limbo for Windows 3.4), not resolved that I know of. Volumes dont get read or something.

A minimal app :

library(shiny)
library(shinyFiles)

shinyApp(
  ui = fluidPage(
    mainPanel(
      shinyFilesButton(id = 'file',
                       label = "Input",
                       title = "Bro

[2017-07-10 07:45] fitzzzz opened #60 "shinyFiles within module from CRAN"
shinyFiles works fine within module when it installs from github (install_github("thomasp85/shinyFiles") but when it installs from CRAN i cant navigate in subdirectory. I use the same code that josuat published in your ticket : https://github.com/thomasp85/shinyFiles/pull/58.

[2017-07-18 21:37] geeshmo opened #61 "getVolumes() Is only taking me to server directory"
Hi Thomas,
getVolumes() is only opening up my server directory, it is not leading to the my "user" home directory outside the server. Any idea how I might do this?

Thank you in advance.
Geeshmo

[2017-07-19 14:05] thomasp85 commented on #61
This is how shinyFiles works. It lets you browse the server file system...

[2017-07-19 14:05] #61 closed

[2017-07-28 17:02] keqiang commented on #60
+1, please update CRAN version.

[2017-08-03 16:09] keqiang opened #62 "Creating new folder crashes the app"
Hi,

While hitting the 'Enter' button successfully creates the folder, clicking the plus button crashes the app.

Stack trace (innermost first):
    58: dir.create
    57: dirCreate
    56: observerFunc
     1: shiny::runApp

one more tiny issue is when the folder already exists, it fails silently without giving the user any prompt. It does log to the console a warning though.

[2017-08-10 08:29] renedlog commented on #62
The problem seems to be in the dirCreator function....

[code]
the variable path of dir.create is named location and what is causing the problem in the function seems to be the call:

`do.call('file.path', as.list(path)) `

I couldn't find a fix so far. In my opinion, the documentation of the code should be improved.

[2017-08-25 19:04] goreaditya commented on #57
Hi Thomas!

A similar issue

[code]

I get this warning
Listening on http://127.0.0.1:4182
[code]

The reason for the function to give these warnings is because R v3.4.1 has a different way of implementing `file.info()` which results in warnings. The function you might want to modify is `fileGetter`.

-Aditya

[2017-09-08 02:27] goreaditya opened #63 "Opening folders using enter key"
It appears as of now that the folder can only be entered/opened using double click. Is there a way to enter into a folder using the "enter" key?

[2017-09-13 08:47] sylvainschmitt commented on #57
I think I have a user of my package `SSDM` having the same issue (I use `shinyFiles` as a dependency): https://github.com/sylvainschmitt/SSDM/issues/8#issuecomment-329098382

[2017-09-22 01:50] mathematiguy commented on #23
Is this still a problem? I seem to be having the same issue with a renderUI form containing a shinyFilesButton where all of the form fields are reset on click.

When I implement the ui not inside a renderUI element, I can show that the same UI code works fine.

I happen to be using shiny_1.0.1, shinyFiles_0.6.2 and R version 3.3.3 (2017-03-06).

[2017-09-22 06:45] thomasp85 commented on #23
This is still an issue, yes.

[2017-10-10 23:10] mrjoh3 commented on #57
Using windows and R3.4 I have the same issue, but have found that shortened file paths do work (not sure why). So instead of `I:\My Documents\My Pictures` use `I:/MYDOCU~1/MYPICT~1`. You can use the example [here](https://code.adonline.id.au/short-paths-via-powershell/) to get the shortened paths.

This is clearly just a temporary work-around until a proper solution is found.

[2017-10-23 14:47] bellma-lilly opened #64 "Browser stops working when there are broken links in a directory"
On linux, browsing fails if there are broken symlinks in a directory with the javascript errors:
shinyFiles.js:156 Uncaught TypeError: Cannot read property 'split' of null
    at shinyFiles.js:156
    at Array.forEach (<anonymous>)
    at parseFiles (shinyFiles.js:155)
    at ShinyApp.<anonymous> (shinyFiles.js:1700)
    at ShinyApp._sendMessagesToHandlers (shinyapp.js:519)
    at ShinyApp.<anonym

[2018-02-20 03:11] keqiang commented on #44
The `shinyFileChoose` function refreshes every 2 seconds and compares the current file list with the cached file list (`currentDir`). However the first time it runs when it's called from a modal dialog, the result will be sent to the client through `session$sendCustomMessage('shinyFiles', list(id=clientId, dir=newDir))` and at this time the UI button whose id is `clientId` is not yet initialized t

[2018-02-20 15:53] keqiang commented on #44
So, even the file list is successfully sent to the client side, it will also fail after the modal dialog closes and reopens.  This happens because `shinyFiles` assumes the UI that uses its functionality will remain existed in the DOM but this is not true in the case of a modal dialog because it will dismiss, thus after the modal dialog reopens, the `shinyFileChooseButton` will be re-created and as

[2018-02-26 06:06] tarunparmar opened #69 "How do I use the shinyFilesButton and shinyFileChoose functions in flexdashboard"
Any idea how do I use the shinyFilesButton and shinyFileChoose functions in flexdashboard...

I used it as it is with Shiny UI and Server functions but then its a bit limited to pass variables out of it.

Will be nice to know if anyone tried this already.

[2018-03-22 22:02] BrentKey opened #70 "Changing Views Programatically"
Is there any way to adjust the default view of the file browser when it is opened?

I would like to show a list view instead of icons and am trying to make the text bigger as well. I've been trying to understand your javascript and write around it and was able to assign the 'active' class to the correct sF button, however, that only changed the display of the button and did not update the display

[2018-03-22 23:27] BrentKey commented on #70
I am currently adding a javascript button to simulate a button click, which gives me the view I want as it loads. I also believe I can update the font by appending the css classes.

If there is an easier way to add these options that I am overlooking, please let me know. Otherwise, not a big deal.

[2018-03-22 23:27] #70 closed

[2018-03-29 17:59] thercast commented on #64
@thomasp85 Looks like this was successfully fixed via #65 so I think we can close this issue.

[2018-03-30 14:14] thomasp85 commented on #64
Yep - thanks

[2018-03-30 14:14] #64 closed

[2018-03-30 20:57] wolfpack12 opened #71 "Dates incorrect in shinyFileChoose"
When I click the button, shinyFileChoose shows the correct files in the appropriate path. When I click the third filter button based on date modified and created, it shows the incorrect month. The day of the month and timestamp are correct.

Server is running RHEL 7.4 and RStudio Connect.

[2018-04-30 19:24] gwarnes-mdsol opened #72 "Please submit updates to CRAN"
I ran into an error with the CRAN version of `shinyFiles` because the call to `data.frame` in `parseFilePaths` doesn't have `stringsAsFactors = FALSE`.

This was corrected in #48, but the version on CRAN was released prior to it's acceptance.

[2018-05-11 06:52] sravel commented on #57
Hi
I have the same issue with R 3.5 on Windows 7.
I'm not expert on R so can you explain how modify fileGetter to solve error?
Thanks

[2018-05-28 14:51] nathmenini commented on #23
Did they fix it? Or is this still a problem?

[2018-06-05 18:40] mjhelf commented on #72
I have the same problem with the CRAN version when trying to use shinyFiles inside a module - it works fine with the github version.
Can you please also bump the version number so that one can require the newest version as dependency for a packages? That would be great, because currently both, CRAN and github, are version 0.6.2..

Thanks for this great package!

[2018-06-05 18:42] thomasp85 commented on #72
Hi

I'm happy that people continue to find this package useful - unfortunately I simply do not have the time to maintain it for now. I've asked out on Twitter if anyone is interested in taking it over without any positive responses.

If anyone is willing to take the current development version to a CRAN release I'll be happy to assist but it won't happen without outside help

[2018-06-05 18:57] mjhelf commented on #72
Hi Thomas,

thanks for your reply!

I understand that maintenance is time consuming, and finding someone to take over that job may be difficult (and sorry, I can't do it...).

For now, could you maybe bump the version in the Description file on the github master branch so that it is easier to see which version is installed? I think these significant bug fixes warrant a new version number :)

[2018-06-11 02:20] elinw commented on #72
Thomas,

Why don't you specifically ask some of the PR contributors as maintainers of the repository?  I don't necessarily think people know what is involved, which for something like changing the version number to 0.6.3 is pretty minimal.

[2018-06-16 03:32] thercast commented on #72
@thomasp85 sorry for not getting back to you after my tweet back in March, but I am interested in doing what I can to assist.  I saw you received a note from Vincent (@vnijs) expressing support, so we might be able to team up and get this ready for a new CRAN release.

[2018-06-16 13:43] mrstlee commented on #69
I've had a similar same problem. I did a bit of scouting around with shiny.trace & found some differences between running shinyFiles as a UI+server, and using a simply shiny module (Code is attached in zip).

Initial SEND/RECV sequence using shiny module (Entries truncated):
    SEND {"recalculating":{"name":"__reactivedoc__","status":"recalculated"}}
    SEND {"custom":{"shinyFiles":{"id":"files"

[2018-06-20 18:37] #62 closed

[2018-06-20 18:40] thomasp85 commented on #72
@thercast if you have access to a windows machine I would be happy if you could look into #57 - it seems to be a windows thing

[2018-06-21 20:18] thercast commented on #57
I've done some research and testing on a Windows VM running R 3.4.1, using the example app @goreaditya provided above. I've search high and low for a solution and have come up empty.  But I think there is a path forward that will hopefully be future-proof (albeit will require a bit of refactoring):

* I think the [`fs`](https://fs.r-lib.org/) package would offer a cleaner way of obtaining file att

[2018-06-22 09:19] thomasp85 commented on #57
No - I think it sounds perfect!

Thanks!

[2018-06-24 00:36] vnijs commented on #23
Looking at @akaever's example, simply removing all calls to `Shiny.unbindAll();` and `Shiny.bindAll();` in shinyFiles.js seems to fix the problem. Everything seems to work as intended after this change but I assume this will cause other problems however.

According to this [link](https://stackoverflow.com/questions/36340402/limit-shiny-unbindall-and-bindall-only-to-and-html-element) you can specif

[2018-06-24 07:16] vnijs opened #74 "Feature request: select file and close modal on double click"
Currently double click toggles file selection. Why not have double click select and close the modal?

[2018-06-24 07:37] thomasp85 commented on #74
Sounds good to me

[2018-06-24 08:06] thomasp85 commented on #74
Maybe fold #63 into an update on interaction possibilities

[2018-06-24 08:49] thomasp85 commented on #74
I’ve forgotten - can you navigate the selection with the arrow keys? If not, that would be a natural addition as well

[2018-06-24 21:59] vnijs commented on #74
The selecting and toggeling code is pretty complex javascript, at least for me. I'm not sure where to make changes or how to test the result is still working as expected. I did try adding the last 4 lines below to address #63 but that had no effect.

[code]

It would also be great if something like the code below worked as an alternative to clicking the `Select` button in the modal ... and perhaps

[2018-06-25 03:13] vnijs opened #75 "Ideas / TODOs"
1. List of available files and directories should be updated when the user creates a new directory using the modal for shinySaveButton or shinyDirChoose
2. shinySaveButton should allow the app to set an initial filename (e.g., based on the dataset currently being used or the plot type currently being shown). I have a first attempt for this working, however, when the dataset changes, the modal no l

[2018-06-25 03:56] vnijs commented on #25
Made some progress here. But working with renderUI unfortunately still seems to be an issue. To install the PR with the updated code `shinyFiles` use:

`devtools::install_github("vnijs/shinyFiles")`

Initially, the modal linked to the `Save file` button will show files and folders. However, after changing the file type and clicking the `Save file` button a second time, no files or folders are show

[2018-06-25 07:28] vnijs commented on #44
@keqiang Could you provide some more information on how you "Tried a fix which will keep sending the message to client if the input dir is empty ...."? Thanks. I'd very much like to know how to resend the information to be shown in the modal. Is caching even necessary? Could we not just get updated information when opening a new modal or creating a new directory?

See https://github.com/thomasp85/

[2018-06-27 20:59] keqiang commented on #44
@vnijs The way I tried was to use localStorage and you can check the PR #68.  I will check #73 when I get time.

[2018-07-02 05:19] vnijs opened #76 "feature request: Close modal with escape key"
Same as `easyClose` with shiny modals. This should be straight forward but it is not clear where to add this in `shinyFiles.js` (thttps://getbootstrap.com/docs/4.0/components/modal/). I hoped that the following would add what I'm looking for but that didn't have any effect.

`$('.sF-modal').modal({keyboard: true});`

[2018-07-02 06:47] thomasp85 opened #77 "shinyFiles based cross-platform choose.dir"

[2018-07-02 06:50] thomasp85 commented on #76
shinyFiles modals are only bootstrap in looks. I’ve chosen not to rely on bootstrap js for behaviour in order to make it possible to forego bootstrap alltogether if you wish to.

I think we should push back new keyboard behaviour to after next release, but it should be pretty simple to implement

[2018-07-02 06:51] thomasp85 commented on #76
Btw, could you maybe create an issue collecting all ideas for extended keyboard behaviour?

[2018-07-02 07:32] vnijs commented on #77
What problems are there with the current intention?

[2018-07-02 07:37] thomasp85 commented on #77
choose.dir is windows only

[2018-07-02 07:47] vnijs commented on #77
Ah. That choose.dir. I thought you were referring to [shinyDirChoose](https://github.com/thomasp85/shinyFiles/blob/master/R/dirchoose.R#L184-L226) in `shinyFiles`. What does this not yet do that you would want to add?

[2018-07-02 08:03] thomasp85 commented on #57
@thercast Are you on this?

[2018-07-02 08:03] #44 closed

[2018-07-02 08:03] #71 closed

[2018-07-02 10:43] thomasp85 commented on #77
I'm thinking of simply providing a studio addin with the content of shinyDirChoose (ie. without the modal wrapper)

[2018-07-02 11:19] thomasp85 commented on #23
Closed by 1c82b5e4c67565afc740cf925c9eb98962db7e6d

[2018-07-02 11:19] #23 closed

[2018-07-02 11:20] thomasp85 commented on #25
closed by 1c82b5e4c67565afc740cf925c9eb98962db7e6d

[2018-07-02 11:20] #25 closed

[2018-07-02 11:20] thomasp85 commented on #33
closed by 1c82b5e4c67565afc740cf925c9eb98962db7e6d

[2018-07-02 11:20] #33 closed

[2018-07-02 11:23] thomasp85 commented on #37
closed by 5cbf08f

[2018-07-02 11:23] #37 closed

[2018-07-02 11:28] burgerga commented on #37
Nice work @thomasp85 and @zeehio, thanks!

[2018-07-02 11:38] thomasp85 commented on #57
I think we could avoid the added dependencies of `fs` (and `purrr`) by simply creating our own `file_info()` which wraps `file.info()` in a `suppressWarnings()` and gracefully fails if permission is denied

[2018-07-02 13:40] thercast commented on #57
@thomasp85 Yes I had a fork going with the use of `fs` but it seems like diminishing returns all for this single issue.  Perhaps in future versions we can go that route if we run in to other barriers but for now I'll table that overhaul and use your suggesting of `suppressWarnings()` since technically the directories are still browse-able.

[2018-07-02 13:52] #75 closed

[2018-07-02 13:55] thomasp85 commented on #57
Great - once this is done I’ll submit to CRAN and we can have a talk about future directions for the package

[2018-07-02 20:24] vnijs commented on #69
Simplified version of @mrstlee's example added below. It looks like the file path information is sent fine. However, the modal doesn't open. Just to check that flexdashboard does work with modals ... see Exhibit B

    ---
    title: "shinyFiles + flexdashboard"
    runtime: shiny
    output: flexdashboard::flex_dashboard
    ---

[code]

    ### Exhibit A

[code]

    ### Exhibit B

[code]

[2018-07-02 20:33] vnijs commented on #54
@cmdcolin Could you explain exactly what you would want to bookmark? I think it might be easier to assign the return value from a `shinyFiles` selection to a reactiveValues object and bookmark that.

[2018-07-02 20:36] vnijs commented on #53
@sylvainschmitt What exactly would you want the user to type? Without `shinyFiles` you could simply provide a textInput and have the user type path information there. Or a combination: Populate a textInput with the keyboard or return the path from a `shinFiles` button

[2018-07-02 20:41] vnijs opened #79 "Ideas for keyboard shortcuts and response to double click"
- Close modal with escape key or by clicking outside the modal, i.e., the equivalent of `easyClose` for Shiny modals (#76)
- Open a folder with the enter key (#63)
- Double click file to select and click on the `select` button (#74)
- Navigate selection with keys (@thomasp85)
- Select on Enter (or CMD+Enter), i.e., a shortcut to click the select button. Enter should open a folder but select a file

[2018-07-03 06:56] sylvainschmitt commented on #53
@vnijs, that was a specific user request but effectively that's not very common. I could effectively myself let the user choose between a text input or a shinyFile button, but I have other development way more important. So I think it should be done, or not done, on the shinyFile that because it concerns generally file selection interface and it is not linked to my package. Moreover what the user

[2018-07-03 10:50] #59 closed

[2018-07-04 05:50] vnijs commented on #77
Why not then also provide the other two? file.choose doesn't allow selecting multiple files for example and there is no dialog to save files at all.

[2018-07-04 06:17] thomasp85 commented on #77
Sure - no reason why we can have these as well

[2018-07-05 08:51] #57 closed

[2018-07-07 07:14] vnijs opened #83 "icons for R file filetypes"
It would be great to have some file-type icons for R, Rmd, md, rda, rds, rdata, and Rproj files. I tried just using power point but when I turn the resulting png into a 32x32, 72 pixel image it looks much worse than the fatcows icons and is much smaller compared to the other 32x32 icons for some reason

@thomasp85 Any suggestions? What tools do you use to make icons / logos?

[2018-07-08 14:05] cmdcolin commented on #54
I just had code where the user would select a file (on the server, using this module) and then it was very convenient to just be able to refresh the page and have it stay selected. Indeed, it might be possible to capture this with a reactive value. I just had the app hinged on the actual input value of this plugin.

Maybe close this issue for now :)

[2018-07-08 14:05] #54 closed

[2018-07-09 07:55] pereznic opened #85 "ShinyFilesButton not loading path"
Dear all,

I've been recently working with the ShinyFiles Library and it seems I cant the ShinyFilesButton work properly. The issue is that pointing at the "volumes" path works when I use the ShinyDirChoose but not when I use it with the ShinyFileChoose. I have not been able to understand if this is indeed a small bug or if It is me mis-using it. I paste the code of a basic app in which replacing

[2018-07-09 08:59] pereznic commented on #85
@vnijs Thanks for your reply. I just made the change on the previous code (sorry about that). I've been using the <input type=button value="getVolumes()"> function from the <input type=button value="shinyFiles"> package (I paste the code again in case is useful). I can see in the example how this is working, but unfortunately I have not been able to do either of the following things:

1) Set the r

[2018-07-09 18:01] vnijs commented on #85
In `shinyFileChoose(input,'button11', roots=getVolumes())` you need `button1`, not `button11`. After this change your example works fine.

For the 2nd question, please provide a minimal example so we can see more clearly what you are trying to do.

[2018-07-10 02:50] vnijs commented on #16
Something like the below for folder expansion?

New, using `glyphicon-triangle-right`
![screen shot 2018-07-09 at 7 43 07 pm](https://user-images.githubusercontent.com/2998956/42486349-91320398-83b0-11e8-8dd3-59129e79ef30.png)

Previous, using `glyphicon-chevron-right`
![screen shot 2018-07-09 at 7 44 24 pm](https://user-images.githubusercontent.com/2998956/42486383-b14c575a-83b0-11e8-8ace-7011d9b

[2018-07-10 02:59] thomasp85 commented on #16
I remember experimenting with both and ultimately settling on the triangle (I think I found the chevron a bit heavy)

In honesty this is not something I feel strongly about, so if you really would like a change, then I'll green light it

FYI - I'll probably not be very active in the coming weeks due to useR and vacation

[2018-07-10 03:02] vnijs commented on #16
I prefer the triangle as well for the same reason. The chevron is actually
the currently used icon so I'll add the change to a PR.

On Mon, Jul 9, 2018 at 7:59 PM Thomas Lin Pedersen <notifications@github.com>
wrote:

[2018-07-10 03:03] thomasp85 commented on #16
Oh - you can now see how much on top of this package I am :-)

Thanks

[2018-07-10 03:04] thomasp85 commented on #16
btw, can you play a bit with the alignment of the non-expanded triangle? it's a bit off...

[2018-07-10 03:10] vnijs commented on #16
I noticed that to. I made the triangle a bit smaller than default and tried
vertical-align to get to center but that doesn't seem to have any effect

.sF-expander .glyphicon.glyphicon-triangle-right {
  font-size: 10px;
  vertical-align: middle;
}

Reference: https://stackoverflow.com/a/18274108/1974918

On Mon, Jul 9, 2018 at 8:04 PM Thomas Lin Pedersen <notifications@github.com>
wrote:

[2018-07-10 09:06] pereznic commented on #85
Dear Vince,

Thanks for your help. That was indeed a typo. However, this is not solving my problem. I made a small app as an example as you suggested so you can see what I intend and what my actual problem is. The specific problem I encounter is the rendering of a white file chooser interface when I point to the "volumes" folder as roots in the file chooser (this however works on the directory cho

[2018-07-11 01:14] vnijs commented on #16
`vertical-align: top;` looks pretty good ... but when expanded it looks bad

![image](https://user-images.githubusercontent.com/2998956/42487300-3ea7aa10-83b5-11e8-84f6-c77ae50379d4.png)

[2018-07-11 03:00] vnijs commented on #85
I don't have any issues running the app you posted on Windows or Mac.

![image](https://user-images.githubusercontent.com/2998956/42547468-2f5bb070-8477-11e8-8723-faf507afbaea.png)

Just in case ... for the very latest version of `shinyFiles` use the command below:

[code]

You should basically never use `setwd()` in a shiny app. For your `fileChoose2` you need to supply a function to `shinyFileCh

[2018-07-11 14:57] pereznic commented on #85
@vnijs Thanks for that! I updated both my R version and the shinyFiles package and now it is working. On the other hand thanks for the function advice, this indeed makes it easier and clearer. Lastly I have one practical question and it regards your advice of never using "setwd" in a shinyapp. I'm working in an app to create some content that would be stored in a destination folder and setting the

[2018-07-11 15:30] vnijs commented on #85
Thanks for the update @pereznic. In general you should avoid using `setwd` and use `file.path` instead. Good luck with the app!

[2018-07-28 20:38] vnijs opened #87 "shinyFiles does not work with chinese, russian, etc. characters on Windows"
Currently shinyFiles does not work with chinese, russian, etc. characters on Windows. This can be traced back to base R functions such as `list.files`. I have been working on a PR for shinyFiles that addresses this problem (see last screenshot below). However, it would require a dependency on the [`fs`](https://github.com/r-lib/fs) and possibly `tibble` due to a bug in `print.data.frame` in base R

[2018-07-30 01:12] thercast commented on #87
From my perspective I think it is reasonable to import `fs` and possible `tibble`, since they are supposed to be fairly light-weight.  In particular `fs` provides a cleaner interface to many of the base R file-based functions.

[2018-07-30 07:52] sylvainschmitt opened #88 "`shinyFiles` last update (v0.7.0) backward compatibility issue"
Hello, I am using `shinyFiles` into my CRAN package `SSDM` for the graphical user interface. A user spotted recently that the change brought in the shinyFiles last version (0.7.0) brought a bug in the user interface (https://github.com/sylvainschmitt/SSDM/issues/32). I'll have a look into it to try to understand what happened. In the meantime do you have a specific list of changes from the version

[2018-07-30 08:29] sylvainschmitt commented on #88
Ok I was able to solve the issue linked to a change in the default behavior of shinyFiles button. But this means that this new version of `shinyFiles` is not backward compatible. It should be avoided or noticed to reverse imports (CytobankAPIstats, dextergui, SSDM, strataG, xROI).

[2018-07-30 08:29] #88 closed

[2018-07-30 08:36] vnijs commented on #88
There were some important changes in this version of `shinyFiles`. However, I ran reverse dependency checks on these packages before `shinyFiles` was submitted to CRAN and found no test failures.

@sylvainschmitt Would you mind also testing using the  command below? This is the build for PR https://github.com/thomasp85/shinyFiles/pull/86 that is pending evaluation by @thomasp85

[code]

You can in

[2018-07-30 08:42] sylvainschmitt commented on #88
Hello @vnijs , I understand that you needed to do important changes, and that's not an issue I can force users to switch to minimum version 0.7.0 of `shinyFiles` when using `SSDM` with the DESCRIPTION file.

Regarding the reverse dependency, it's partly my fault, because I did not include formal testing of the shiny app in my `SSDM` package. I didn't knew how to do back when I first developed it.

[2018-07-30 08:49] sylvainschmitt commented on #88
Your version with rstudio-icons (vnijs/shinyFiles@rstudio-icons) works correctly with `SSDM` last development version (0.2.3.9008).

[2018-08-06 14:43] ycphs opened #89 "set default values"
Dear all,

Currently it is not possiible to set default values for directories or selected files.

It would be helpful, if the optional parameter can be set.

[2018-08-07 01:31] vnijs commented on #89
You can set `defaultPath` and `defaultRoot` for both `shinyDirChoose` and `shinyFileChoose`. Can you be more explicit about what you are trying to do?

[2018-08-07 16:01] SteffenKothe opened #90 "changes in shinyFileChoose from 0.6.2 to 0.7.0"
Dear developers,

recently I updated the shinyFiles package from 0.6.2 to 0.7.0 and
got some trouble, which I could not fix so far.
Could you please describe what the changes in shinyFileChoose are?

The following code is part of an important script, and it worked fine
with version 0.6.2.

Do you have any hint for me to solve this issue?

[code]

It should only go into the first if loop if a file

[2018-08-07 21:03] vnijs commented on #90
Try `if (!is.integer(input$uploadfile)) { ...`

[2018-08-08 06:41] SteffenKothe commented on #90
Ok, much easier than I thought. Thanks a lot. I still don't know why it was working with 0.6.2 and not with 0.7.0.

[2018-08-08 18:40] vnijs commented on #90
That was a breaking change introduced to deal with various other issues. It would be useful to add some more examples to illustrate how this changes usage of `parseFilePath`

[2018-08-08 20:08] vnijs commented on #87
@thomasp85 Any change you could comment on this issue review the PR in the next few days? Thanks

[2018-08-09 11:31] ycphs commented on #89
The pre-selection of a file (e.g. config-file) is not possible.

"standard_config.json" is the standard file I want to choose, but in case i want to change it to the file "alt1_config.json"

with `defaultRoot` and `defaultPath` it doesn't work.

[2018-08-17 23:43] vnijs commented on #87
@thomasp85 ... bump ... I know you are probably swamped with gganimate so if you are open to providing push permission that would work for me as well

[2018-08-18 13:26] wolfpack12 commented on #90
Correct me if I’m wrong, but I think execution of the shinyFileChoose in 0.6.2 occurs PRIOR to the observeEvent on the object. In 0.7.0, it occurs AFTER. That means you have to handle an event trigger where no file has been selected.

We solved this by doing an if(length(input$filechoose)==1) return(). Haven’t tried the approach above.

[2018-08-18 13:30] wolfpack12 opened #91 "Allow preset filtering options upon opening file choose"
By default, the file picker forces the UI to use large icons and sorts by name. Our users like using lists and want to sort by creation date. Could we add an input option to specify these filters prior to opening?

[2018-08-19 14:03] wolfpack12 commented on #90
What’s the appropriate strategy for handling pre-click execution? I believe the strategy of using !is.integer will work if the button has not been previously clicked. What if users click it multiple times and we only want to parse the file path afterwards?

[2018-08-19 18:35] vnijs commented on #90
If the value can be NULL add `req(input$my_sf_button)`.

Add an `observe({ print(input$my_sf_button })` in your code and you will see what values `my_sf_button` can take. As mentioned, shinyFile* buttons are now basically like actionButtons and clicking increases the (integer) value.

[2018-08-20 08:30] thomasp85 commented on #87
I think using both fs and nibble are fine - shinyFiles is deeply coupled with RStudio anyway

[2018-08-20 08:32] thomasp85 commented on #91
I'm open to this - @vnijs is it something you want to look into?

[2018-08-20 16:02] vnijs commented on #91
I have a few other things I'd like to work on first @thomasp85. However, @wolfpack12 if you are interested in creating a  PR/MR for this I would be happy to look at that

[2018-08-25 18:27] stranda opened #93 "having some trouble with shinySaveButton after update to 0.7.0"
Hi,
I've been using shinyFiles for a while in a package I maintain (CRAN/skeleSim) and it's been great.  Unfortunately with the new version (0.7.0) I'm getting errors in code that uses shinySaveButton().  This is the case on both my linux systems and some users macOS systems.  Basically it looks like parseSavePath is returning a null whereas it returned a good path in 0.6.2.

here is the relevant

[2018-08-25 20:32] vnijs commented on #93
@stranda Please take a look at the discussion in the issue linked below. Let us know is that addresses the issue you are seeing.

https://github.com/thomasp85/shinyFiles/issues/90

[2018-08-25 20:33] vnijs commented on #89
I'll close this issue for now. If you have additional questions/comments please open another issue

[2018-08-25 20:33] #89 closed

[2018-08-25 20:34] #85 closed

[2018-08-25 20:34] #83 closed

[2018-08-25 20:35] vnijs commented on #72
Since 0.7.0 is on CRAN I think this issue can be closed

[2018-08-25 20:35] #72 closed

[2018-08-26 00:56] vnijs commented on #87
@thomasp85 and @thercast Please tryout the latest version if you have a moment. If all looks as good as on my test machines it would be great to push this version to CRAN

devtools::install_github("thomasp85/shinyFiles")

[2018-08-26 00:59] #76 closed

[2018-08-26 01:00] #74 closed

[2018-08-26 01:06] vnijs commented on #1
IE 11 and Edge seem to work fine in my Windows 10 VM. There are also no problems that I can see in Chrome. I'll make the call here to close. If that is not what you want I'm sure you will let me know :)

[2018-08-26 01:06] #1 closed

[2018-08-27 13:55] thomasp85 commented on #87
Doesn’t it require the development version of fs? In that case we are contingent and an fs update before we can release to CRAN

[2018-08-27 14:18] vnijs commented on #87
Fs 1,2,6 is on CRAN now and that is the version we need. Would be great to have some of the JS features mentioned in the issues working but I would need help on those.

[2018-08-29 00:43] vnijs commented on #90
Closing. Please open a new issue if needed

[2018-08-29 00:43] #90 closed

[2018-08-29 00:44] vnijs commented on #87
PR https://github.com/thomasp85/shinyFiles/pull/92 merged

[2018-08-29 00:44] #87 closed

[2018-09-04 02:46] vnijs commented on #93
@stranda Were you able to resolve the issue?

[2018-09-04 17:24] AFriendlyRobot opened #94 "Force selection on file double-click"
Hello,

I really appreciate being able to double click files to select them in the file browser. However, I've noticed a slight edge case (relevant code is below). Essentially, it is possible to click on a file once, then double click the same file. It seems like the double click deselects the file, then calls the `selectFiles` method. This behavior causes an error when I try to parse the file pat

[2018-09-05 02:04] vnijs commented on #94
Thanks for reporting @AFriendlyRobot. I can reproduce the selection issue. Can you post the code  changes you mentioned or create a PR so we can discuss and review how to best address this?

[2018-09-05 04:05] vnijs commented on #94
Works great. Thank you @AFriendlyRobot!

[2018-09-05 04:05] #94 closed

[2018-09-14 19:45] cactus74 opened #96 "Issue with "modified" and "created" headers in shinyFileChoose dialog"
First of all, thanks for the great package !

On UNIX filesystem, ctime happens to mean "last change time", not "creation time". The header "created" in the file selection dialog is ill chosen from my perspective. I personally think it should simply be fully discarded.

In shinyFiles.js:

`      case 'Created':
        fileList.sortChildren(function(elem) {
          return $(elem).data('sF-file')

[2018-09-14 20:48] vnijs commented on #96
Thanks for the report @cactus74. We now use the `fs` package to determine the `birth_time` or `creation time` of a file or directory. Please try the version on GitHub to see the change

[2018-09-14 20:48] #96 closed

[2018-09-25 04:05] vnijs commented on #79
What ever works for you @AFriendlyRobot. You can create a PR and add commits as you go for example

[2018-09-28 16:58] vnijs commented on #79
These issues have now all been addressed in https://github.com/thomasp85/shinyFiles/pull/97 by @AFriendlyRobot. Many thanks!

[2018-09-28 16:58] #79 closed

[2018-09-29 20:38] vnijs commented on #63
Thanks for @AFriendlyRobot's excellent contributions this is not possible in the version on GitHub. It will like be a few weeks before this version is on CRAN

[2018-09-29 20:38] #63 closed

[2018-09-29 20:40] vnijs commented on #17
If you try to create a new folder, e.g., AAA, and that folder exists you currently "enter" that folder. Is there some other behavior you are looking for here?

[2018-09-29 20:44] vnijs opened #98 "resize modal"
It would be convenient if the user could make modals smaller or larger by dragging on a corner. Currently, the modal can sometimes spill over the edge of a (small) laptop screen so you cannot access the buttons.

[2018-09-29 20:48] vnijs opened #99 "jump to file or directory based on letter(s) typed by user"
It would be useful if entering the first few letters of a file or directory name would select the correct icon, similar to Finder (macOS) of File Explorer (Windows)

[2018-09-29 22:19] vnijs commented on #98
Correct. See screenshot below.

![image](https://user-images.githubusercontent.com/2998956/46250945-f4bbf880-c3fa-11e8-8aae-ab08bffce4f4.png)

[2018-10-03 18:35] mjhelf opened #101 "roots folder selection broken if shinyFilesButton in ModalDialog"
Hi,
I see that a lot of new features are being built into shinyFiles lately, and that's great, thanks for your hard work!

I have come across a problem that occurs when a shinyFilesButton/ shinyDirButton/ shinySaveButton is placed inside a shiny::modalDialog:
The shinyFiles Dialog pops up and works, except that you cannot browse/change the root folder selection. The dropdown menu shows up for a ha

[2018-10-03 19:05] mjhelf commented on #101
It seems like I can fix the issue by removing the modalDialog like this in the server code (example for the fileInModal shinyFileButton):
[code]
This seems like a workaround for now if it is ok to close the original modalDialog when the shinyFiles modalDialog comes up...

[2018-10-03 19:06] vnijs commented on #101
Hmmm. I tried the code you posted on Windows, Mac, and Linux and the buttons in the modal work (i.e., I can change the root directory just fine). Perhaps this is a browser issue? What browser do you use? My testing was with Chrome and Safari.

[2018-10-03 19:09] mjhelf commented on #101
Interesting! As it turns out, it does work in Chrome for me too!
I encountered the issue using Firefox on both Linux and Windows..

[2018-10-08 14:47] russelldb opened #102 "Order by Date/Time (lastmodified? created?) in the dir chooser"
Shiny Directory Chooser allows sorting by name, type, size, but not last modified of create date. Is that a possible addition?

[2018-10-10 09:47] raggaraluz opened #103 "Soflinks to folders are not working on dir chooser"
After the upgrade to 0.7.1, the dir chooser is not poperly working with soflinks to directories.

They are displayed in the "Content" panel, but not in the "Directories" panel. Therefore, they cannot be selected or browsed.

In the image below, "data" is a softlink to a different folder (which is accessible from the user)

![imagen](https://user-images.githubusercontent.com/8734346/46728071-46c60f

[2018-10-10 10:45] thomasp85 commented on #103
My hunch is that this is related to the change to `fs` for file system access. @vinjs can you take a look when convenient

[2018-10-10 10:48] raggaraluz commented on #103
Hi Thomas, you are true, it is related to `fs`.

I'm having a look at it myself and hopefully send a pull request during the day.

[2018-10-10 22:35] vnijs commented on #103
Merged PR. Thanks @raggaraluz!

[2018-10-10 22:36] vnijs commented on #93
I'll assume the issue is resolved now. If not, feel free to reopen

[2018-10-10 22:36] #93 closed

[2018-10-11 01:52] vnijs commented on #102
I made a start on this with https://github.com/thomasp85/shinyFiles/commit/01a8ad4d43aa726a0de8eb170156715190db6c51. The dropdown now has the relevant elements and the information needed is passed to `shinyFiles.js`. It is not working as intended yet however.

@russelldb or @AFriendlyRobot If you can take a closer look on the JS end to see what is going on that would be great

[2018-10-11 03:47] vnijs commented on #98
Merged https://github.com/thomasp85/shinyFiles/pull/100

[2018-10-11 03:47] #98 closed

[2018-10-11 04:12] vnijs commented on #99
Perhaps as an alternative, we could have a text input box at the where the user can copy-and-paste a path or type the path with tab-completion to select files to show. Similar to typing path in a shell. Thoughts @AFriendlyRobot?

[2018-10-11 04:14] vnijs commented on #102
Thanks @AFriendlyRobot. Closed via https://github.com/thomasp85/shinyFiles/commit/01a8ad4d43aa726a0de8eb170156715190db6c51 and https://github.com/thomasp85/shinyFiles/commit/fdc08c6850de28e0503d8b605ecc9e701d8ba8dc

[2018-10-11 04:14] #102 closed

[2018-10-11 04:17] vnijs commented on #101
Thanks @AFriendlyRobot. I'm not sure what options there are at this stage @mjhelf other than not using shinyFiles buttons embed in shinyModals with FF until there is an update from FF

[2018-10-11 04:58] mjhelf commented on #101
Thanks to both of you, @vnijs, @AFriendlyRobot for looking into this!
I don't know if the FF developers are aware of this issue - should I post an issue on Bugzilla? Do you think they will be able to deal with a shiny app?

I checked with a terribly old version of FF (v. 38) that I had on a forgotten VM, and the issue exists there, too. That is to say, the problem predates their "Quantum" update.

[2018-10-11 06:41] russelldb commented on #102
Brilliant, thank you!

[2018-10-11 06:42] vnijs commented on #101
I doubt you'd have much success posting an issue with FF to be honest but I do think that is where the issue is somehow. I tried the code you posted on Windows, Mac, and Linux and the buttons in the modal work with Chrome and Safari. Without any error messages I'm not sure how we'd even address this.

[2018-10-11 22:20] raggaraluz commented on #103
Hi @vnijs, I've just checked in my machines and it works great with the workaround. Thanks a lot!

[2018-10-11 22:46] #103 closed

[2018-10-19 14:40] lbusett commented on #101
Hi,

  I run into a similar issue, using `shinySaveButton` within a Modal.

In practice, although the "file selector" widget seems to work ok, it does not allow me to change the output basename (it is stuck on "filename" and does not change. Below a reprex:

[code]

If I remove the modalDialog, the button works just fine . Note that this does not work even on chrome (on Linux Ubuntu 18.10).

Any h

[2018-10-19 19:49] vnijs commented on #101
I can reproduce the problem you are seeing @lbusett. Thanks for reporting. The same issue occurs in previous versions of shinyFiles as well so it doesn't seem to be linked to any of the more recent changes to the package. I'm not seeing any errors in the JS console so it is not obvious to me what the problem could be.

@thomasp85, @AFriendlyRobot: Any ideas?

[2018-10-22 13:35] lbusett commented on #101
@AFriendlyRobot

Just tried deleting the `tabindex` and it works. How could one proceed to "remove" the tabindex programmatically? Is it possible ?

[2018-10-23 00:38] vnijs commented on #101
Thanks @AFriendlyRobot! I agree there is a risk of breaking applications by removing `tabindex` by default (see also https://stackoverflow.com/questions/32911355/whats-the-tabindex-1-in-bootstrap-for).

That said, adding an option to source or activate the code in `script.js` when using `shinyFiles` from another modal may be a good approach. Perhaps this could be added as an argument for each of t

[2018-10-23 04:13] vnijs commented on #101
The js script you created could be used at-your-own risk in other applications but, I agree, it is not ideal. The last link you posted has some interesting examples. The "stackable" option at http://jschr.github.io/bootstrap-modal/ seems to have a modal-from-modal approach that has inputs that work (from https://stackoverflow.com/a/22470230/1974918).

[2018-11-01 09:31] AngelosPsy opened #106 "Directories not shown when using shinyDirChoose in macOS Mojave"
Hi,

Thank you for all your work; `shinyFiles` is an extremely useful package!

I recently bought a new laptop and I installed macOS Mojave. When I tried to run a shiny application, that used to work fine in Sierra, I encountered a problem when I use `getVolumes` inside the `shinyDirChoose` function. Specifically, the application returns the directory window, without however being able to select a

[2018-11-01 18:51] vnijs commented on #106
Can you try the current version of shinyFiles in GitHub? Use the command below. I think that should already resolve the issue.

`remotes::install_github("thomasp85/shinyFiles")`

Also, does `shinyFiles::shinyFilesExample()` work on your system?

[2018-11-01 21:58] AngelosPsy commented on #106
Thank you @vnijs! Updating to the most recent github version via `remotes` solved the problem. I will  close the use.

[2018-11-01 21:58] #106 closed

[2018-11-02 01:02] vnijs commented on #106
Great! Thanks for reporting back @AngelosPsy

@thomasp85 Unless you or @AFriendlyRobot have some ideas (and plans) to address https://github.com/thomasp85/shinyFiles/issues/101 could you push 0.7.2 on github to CRAN?

[2018-11-07 04:17] upendrak opened #107 "shinyFileSave does not save plots"
I am trying to save the generated plots of a shiny app to the server side and even though I got it working for the data frames it doesn't work for plots. Here is a snippet of the code that generates the plots but doesn't save the plots to the server side.

Here is the code on the `ui.R`
[code]
And here is the relevant code in the `server.R` script

[code]
What I don't understand is how come it wor

[2018-11-07 04:37] upendrak commented on #107
Never mind. I figured it out..

[code]

[2018-11-07 04:37] #107 closed

[2018-11-07 04:38] vnijs commented on #107
Glad to hear that @upendrak

[2018-11-10 20:04] vnijs opened #108 "Update CRAN to 0.7.2"
@thomasp85 Unless you or @AFriendlyRobot have some ideas (and plans) to address #101 could you push 0.7.2 on github to CRAN?

[2018-11-11 11:14] thomasp85 commented on #108
I’ll try to get it done in the coming week

[2018-11-14 02:06] #108 closed

[2018-11-15 17:46] floriandeboissieu commented on #89
I have a similar question for shinyFileSave, would it be possible to have a default in input text div called "filename"?

[2018-11-15 19:28] kintany opened #109 "directory problem with the update"
Hi, I'm using shinyFiles in my dockerized Shiny app and I've been very happy with how it was working, thank you for all your work.
But with the recent shinyFiles update it stopped working, here is the reproducible example:
[code]

When I run it, I get the following error:
[code]

So the problem is with dir()$path[-1]. Do I have to change it for the new version? Thank you!!

[2018-11-15 20:49] vnijs commented on #109
All shinyFiles buttons now act as actionButtons do in shiny. They return a numeric values (e.g., 1, 2, 3, etc. depending on how many times they have been clicked). Once a directory (or file) has been selected the type will be a list with character data. So, you need to require the input is *not* numeric or *is* a list before proceeding. See your adapted code below. Hope that helps @kintany

[code]

[2018-11-15 20:49] #109 closed

[2018-11-15 21:09] vnijs commented on #89
As you can see from `?shinyFiles::shinySaveButton` there is already a `filename` argument where you can set a default. I that not what you are asking about?

[2018-11-16 00:54] kintany commented on #109
Thank you, it works now but if I run it from Docker (sharing the directory with -v option) I now can't see my directory inside the shiny app. Used to work with the previous version though.

[2018-11-16 13:48] floriandeboissieu commented on #89
Yes it is, sorry for the question.

[2018-11-16 20:12] vnijs commented on #109
It seems unlikely to me that this would be a shinyFiles issues as it works fine in a docker container that runs my radiant R-package as an Rstudio Addins. See link below to the container. That said, if you have a (simple) reproducible example I can look into it.

https://hub.docker.com/r/vnijs/radiant

![image](https://user-images.githubusercontent.com/2998956/48644822-aa85db00-e998-11e8-978c-f6d7

[2018-11-17 21:11] kintany commented on #109
Thank you!

This is my Dockerfile:

[code]

This is the shiny-server.sh:
[code]

And I have a folder called "testDocker" with app.R there (code in the app is the same as in the example in the thread.

I also pushed it here: https://github.com/kintany/docker_test

Thank you a lot @vnijs

[2018-11-17 21:36] vnijs commented on #109
Try something like command below to run the docker container. You are running this app as root and, I assume, were not mapping `-v ~:/root`.

[code]

[2018-11-26 13:28] lbusett opened #110 "parseDirPath provides wrong path if defaultPath and defaultRoot are set in shinyDirChoose"
Hi,

  I am working with `shinyDirButton` and `shinyDirChoose` to allow selection of a folder, starting from a specific default folder specified throgh `defaultPath` and `defaultRoot`. The problem is that when I then invoke  `parseDirPath` to get the selected folder name, apparently the `defaultPath` value is ignored.

In practice, the returned path is

     `defaultRoot/name_of_folder`

while  if

[2018-11-26 19:11] vnijs commented on #110
@lbusett I see the issue. I'm not sure if there is a clean fix. My initial reaction is to simply get rid of `defaultPath` as things are likely to get messed up if you have multiple roots and you change away from the default root. If you want to default directory, why not just add to `roots` (see "Alternative" example below?

Also, I'm having some issues even selecting a directory if `defaultPath`

[2019-01-24 21:01] keqiang opened #112 "Time difference between client and the server when retrieving birth_time, modification_time etc"
I looked at the source code and it seems that when the javascript code requests the file modification and creation time, it calls the backend R code to retrieve the info using the fs package. However, when there is a time difference between the client and the server, this will look strange because the file could be displayed as created 5 hours from now.

I think it can be solved either by displayi

[2019-01-26 01:57] vnijs commented on #112
I see your point @keqiang. I think showing the server's timezone would be my preference but adding something like the below is a bit much. If it was just something short like PT I'd be fine with that.

[code]

[2019-01-26 21:15] keqiang commented on #112
It would be about the same amount of work if you want to stick with one certain timezone because you will need to convert the server time to 'PT' or whatever timezone you decide to use. Also needing the users to convert the time makes it less useful. I actually think returning epoch seconds using `as.numeric(file_info$mtime)` from the server will not only simplify the server logic for parsing date

[2019-01-27 22:12] vnijs commented on #112
I am certainly open to this and would welcome a PR.

[2019-01-27 23:51] keqiang commented on #112
Sure I'll look into this.

[2019-03-04 03:26] 13479776 opened #114 "progreesion"

[2019-03-04 03:26] #114 closed

[2019-03-04 03:28] 13479776 opened #115 "How to set the progress bar in shinyFileChoose"
How to set the progress bar in shinyFileChoose, when i upload the data?

[2019-03-04 03:31] vnijs commented on #115
We currently don't have that functionality. Would welcome a PR though.

[2019-03-04 04:41] 13479776 commented on #115
but I want to show the status of uploaded data. Could you give some suggestion this through verbatimTextOutput()?  We can get the feedback about the information of uploaded data.
Thanks!

[2019-03-04 05:46] vnijs commented on #115
I don't think this is easily possible. Shiny's fileInput first copies the full dataset to a temporary directory and then loads it. I believe this extra steps makes it possible for shiny to show a general data-loading progress bar. That is not how loading data works with shinyFiles, however.

If you can figure out a good way to do this we can discuss adding it to shinyFiles. However, I'd recommend

[2019-03-04 13:23] 13479776 commented on #115
Hi vnijs

I have got the code for the status of uploaded data. but there is always errors titled "$ operator is invalid for atomic vectors", when the app start.

Could you please give some help? Thanks@

the code
#############
library(shiny)
library(shinydashboard)

ui <- fluidPage(
  sidebarPanel(
    width=3,

  shinyFilesButton('files_XC', 'File select', 'Please select a file', FALSE),
  verbat

[2019-04-03 16:30] nzxwang opened #116 "Possibly isolate the initiation of the input$object to mimic shiny::fileInput() behaviour"
`shiny::fileInput()` sets the corresponding input variable to a dataframe upon file upload completion, which allows the user to user the corresponding input variable as the `eventExpr` to `shiny::observeEvent()` for observing a file upload.

As for `shinyFiles::shinyFilesButton()`, the corresponding input variable is updated every time the shinyFiles button is clicked or a file is uploaded. As suc

[2019-04-03 17:44] vnijs commented on #116
I agree that it would be nice if shinyFiles was fully a "drop-in" alternative for `shiny::fileInput`. That would likely lead to breaking changes in shinyFiles, however, so I'm not really sure if it would be worth it.

In shinyFiles, currently, information about a file is "transported" by appending information to an action button. Therefore the value *must* update on each click.

I'd be happy to lo

[2019-04-29 17:44] juanmacarrillo opened #117 "App freezes when using down arrow key on folder tree (shinyDirButton/shinyDirChoose)"
When using the arrow keys to navigate through the folder tree, if the user gets to the end of the folder tree and presses the down arrow key, the whole app freezes.

It freezes any window where it runs (at least Rstudio, Chrome, and Firefox).

The example found in the official help is enough to reproduce the bug:

[code]
Steps to reproduce it:
- Run the example
- Click on any folder
- Navigate thr

[2019-04-30 02:21] vnijs commented on #117
Wow. Yeah, it even completely looks my browser (Chrome on macOS). Interestingly I don't see any errors in developer tools when it locked. Almost seems like it is in infinite loop or something.

@AFriendlyRobot Any chance you can take a look at this?

[2019-04-30 03:31] vnijs commented on #117
Looks like that does it. I have been stepping through the debugger for a while now so I'd love to know how you found this so fast :)

Thanks for reporting @juanmacarrillo. Please fix should be merged now so please check the version from GitHub and reopen if you still see any issues.

[2019-04-30 03:31] #117 closed

[2019-05-21 23:47] woodwards commented on #85
Sorry to bump this, but I get the following when I run your example on Windows 10:

[code]

[2019-05-21 23:57] woodwards commented on #85
For some reason wmic.exe is not in the system, path. I can find it using this, but might not work on all systems.

[code]

[2019-05-22 00:02] vnijs commented on #85
Thanks for reporting @woodwards. `wmic` has been used in shinyFiles for some time and this is the first time I have seen this issue mentioned. To be honest, if this is a new setting in Windows 10 I'm not sure what the alternative is.

[2019-06-04 05:42] paulvanoppen commented on #91
I have the same question: how to open the file picker with a list as a default. Was there any progress?

[2019-06-04 05:55] vnijs commented on #91
No progress on this unfortunately. Happy to look at a PR however.

[2019-06-06 13:40] nevrome opened #119 "cross os, whole tree directory selection"
I have difficulties setting up a directory selection that allows the user to reach every relevant directory on each partition. For linux users it's ok for my purpose to limit the selection to everything below "~", but windows users should be able to switch partitions. With the implementation below that is not possible. Can you point me to a working and maybe more simple solution?

[code]

[ref](ht

[2019-06-06 22:13] vnijs commented on #119
`getVolumes` should get what you need. Below the output from my Windows VM

[code]

[2019-06-07 08:55] nevrome commented on #119
Thank you for the fast reply!

I'm aware of `shinyFiles::getVolumes()` and tried to apply it. Please take a quick look at my example code -- it's self-contained and you should be able to run it as it is. With this code I always only see the `C:\\` partition in the shinyFiles browser on my test system and I have users reporting the same.

I guess I just use `getVolumes()` in a wrong way. How can I

[2019-06-09 02:46] vnijs commented on #119
What you posted seems to work fine on my Windows VM. Not sure what the problem is.

![image](https://user-images.githubusercontent.com/2998956/59154375-06dc4500-8a26-11e9-90f1-68acaa5e0611.png)

[2019-06-09 13:13] nevrome commented on #119
Aha! Thank you very much!

1. I missed the drop-down menu.
2. I overlooked `shinyFiles::parseDirPath` which makes parsing the final path much more convenient.

My issue is solved. For other users here's a better version of the code above:

[code]

[2019-06-09 13:13] #119 closed

[2019-06-11 13:09] alisimecn opened #120 "Troubles selecting multiple files"
EDIT : fixed a typo that was in my example, but I still don't get the results I need

Hi,

I'm creating an app where I need to upload 2 different files, and I want it to be done with 2 separate shinyFilesButtons.

However, when I run my app, it works for the first file but not the second (I get a blank window for the second file). I think it has to do with multiple "shinyFileChoose" lines but I ha

[2019-06-11 14:26] alisimecn commented on #120
I fixed my example which didn't work because of a typo, but even though it works now, that's not exactly what I need to do.

I would need to store the filepaths in reactive values, to be used afterwards (I need results obtained from file 1 when processing file 2), and I can't get any of the buttons to work with reactive :

[code]

[2019-06-20 07:04] priyamvadazsi opened #121 "SSDM: Error in factors[[j]] : subscript out of bounds"
I am trying to use the SSDM package in r. On using the following command line, I get an error. I get this error also when using the GUI. Pls help.

SDM <- modelling('GLM', subset(occ, occ$Species == 'monal'), Env, Xcol = 'Longitude', Ycol = 'Latitude', verbose = FALSE)

Error in factors[[j]] : subscript out of bounds
In addition: Warning messages:
1: In predict.lm(object, newdata, se.fit, scale =

[2019-06-20 23:20] vnijs commented on #121
@priyamvadazsi Why would you think this has anything to do with shinyFiles?

[2019-06-26 18:17] 58675 commented on #120
I have same issue. I can't upload 2 separate files from 2 buttons in an app with reactive function. Any help will be really appreciated.

[2019-06-26 18:44] vnijs commented on #120
@alisimecn Buttons are already observers which you cannot put inside a reactive. Can you use the below?

[code]

[2019-06-27 08:12] alisimecn commented on #120
Hi @vnijs thank you it does work. I was so sure that I had tried that in my more complex real code but maybe I hadn't.
Anyways, I can't find the original code as I went a different route, but thanks for answering, hopefully it solves @58675's problem too.

[2019-06-29 00:52] vnijs commented on #120
OK. Glad to hear that works. Will close this issue for now.

[2019-06-29 00:52] #120 closed

[2019-07-01 12:12] 58675 commented on #120
Thanks @vnijs  it works like a charm.

[2019-07-25 16:52] zhenglei-gao opened #122 "the root being returned is the name of the drive not the mapped letter."
I could not find someone having the same the problem but it seems after I select the root drive and then the target folder, only the name of the root drive is returned and what I can get by selecting the folder is

`"EFM (V:)/XXX/2016/Effect modelling/"`

I need the `V:` instead of `EFM (V:)`

Below is the code I used:

[code]

[2019-07-26 16:54] zhenglei-gao commented on #122
I think I found the answer.

should be` parseDirPath(root, input$directory)`

[2019-07-26 16:54] #122 closed

[2019-08-29 06:26] #121 closed

[2019-10-06 13:29] elinw opened #123 "Warning thrown by parseFilePaths()"
This line is throwing a warning, probably in the case where the object has more than one class.
https://github.com/thomasp85/shinyFiles/blob/master/R/filechoose.R#L506

[2019-10-06 20:58] vnijs commented on #123
Thanks @elinw. There were actually several instances where this structure was used. I updated them to use `inherits` instead. See https://github.com/thomasp85/shinyFiles/commit/dd1b7acd61d085cae3813028390bd674ff8bf19e

[2019-10-06 20:58] #123 closed

[2019-11-12 04:39] sibyllwangxxxx opened #124 "roots argument in shinyFileChoose() is not reactive to input"
Hi,

First of all, thanks for this greatly useful package!

I'm trying to use `shinyFileChoose()` in one of my applications, the problem is, the top-level directory where I need to let users search is fairly large and has thousands of subdirectories, thus slowing down the app. One obvious (to me) solution is to get a list of the 2-level subdirectories, let user select a subdirectory simply in a `s

[2019-11-14 23:16] samuelfu2009 opened #125 "Help Wanted: Cannot record shiny::fileinput directory with parseFilePaths"
Hi,

This package perfectly helped me record 'real' data path that shiny::fileinput can't:)

However, I found out that it doesn't work for the fileinput -> shinyFileChoose -> parseFilePaths. It always returns to an empty dataframe.

Here is a reproducible example which you can see that 'abc' returns to an empty dataframe.
`ui <- shinyUI(fluidPage(

  titlePanel("Example"),
  fileInput("abc", "bla"

[2019-11-15 16:05] vnijs commented on #125
Please take a look at the issue linked below. In shinyFiles you need to check for `is.integer` and not `is.null`.

https://github.com/thomasp85/shinyFiles/issues/116

[2019-11-15 16:05] #125 closed

[2019-11-15 17:07] vnijs commented on #124
You will need to explicitly create a new `shinyFileChoose` observer when you change the root. See updated example below. Hope that helps.

[code]

[2019-11-15 17:07] #124 closed

[2019-11-18 06:48] c1au6i0 opened #126 "shinyDirChoose when app deployed in shinyapp.io"
I wrote down an [app](https://github.com/c1au6i0/rvent_app) that use the function  `shinyDirChoose` to select a folder and upload all its files, in a way similar to this [`post.`](https://stackoverflow.com/questions/48034976/shinyfiles-folder-selection-display-the-default-folder)
The function works perfectly when the app is running locally, but not when is deployed to shinyapp.io.
It appears to op

[2019-11-18 08:20] vnijs commented on #126
shinyFiles: "A shiny extension for server side file access" When you use shinyFiles you will always see volumes on the machine the app is running on. If you want client access you will need shiny's fileInput

[2019-11-18 08:20] #126 closed

[2019-11-18 08:55] thomasp85 opened #127 "Release shinyFiles 0.7.5"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_shinyFiles.html)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.md`
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-rel

[2020-01-13 13:30] mikeyEcology opened #130 "Trouble selecting file on Windows, but works on Mac/Linux"
Hi,
I'm working on an [R package that uses shinyFiles](https://github.com/mikeyEcology/MLWIC2) to select directories and files. Everything runs great on my Mac, but when I have a colleague test the Shiny App on a Windows machine she has one of two problems: 1) either she presses the select button and nothing occurs, or 2) no files show up in the window when she navigates to the directory. You can

[2020-01-15 07:09] vnijs commented on #130
@mikeyEcology I tried installing your app in Windows but ran into an error. Can you check if your colleague on Windows can run the example set in the shinyFiles package? I have a lot of students using shinyFiles on Windows and have not seen any issues at all. If your colleague does see errors when running the shinyFiles example, please provide as much detail as you can so we can figure out what mi

[2020-01-15 14:03] mikeyEcology commented on #130
Thank you for your response! We were able to get the problem sorted out by running the example.

[2020-01-15 14:03] #130 closed

[2020-02-03 22:44] carlosavellaneda8 opened #132 "Set "Details View" as default in shinySaveButton"
Hi,

I wanted to know if it is possible to set "Details View" as default using shinySaveButton. Currently, the default is "Icon View".

Best regards,
Carlos

[2020-02-04 12:09] vnijs commented on #132
There is not a way to change the setting by default. However, I agree that the detail view might be the better default

[2020-02-06 16:19] mikeyEcology opened #133 "passing shinyFileChoose object to normalizePath"
Hi,
I'm building an R package where users select an input csv so that I can run some functions on it. When I have them select paths using `shinyDirChoose`, I am able to pass this path to `normalizePath` without problem. But when I have them select a file with `shinyFileChoose`, I am unable to get `normalizePath` to recognize the output and I get the error:

I get this same error when I try `normal

[2020-02-11 08:22] kikegoni commented on #37
Hey,

Thanks for implementing this package, find it super useful!!

I was wondering if it is possible to reset the value of a shinyFilesButton to their initial value once the files have been chosen. I am not able to, after selecting a file "A" and pressing a select button that resets all input to its initial state and I am unable to get the initial shinyFilesButton value.

Is there any way to get

[2020-02-12 02:59] vnijs commented on #37
We use shiny actionButtons under-the-hood and those cannot be reset

[2020-02-28 18:40] mikeyEcology commented on #133
I'm still having the same problem, but I wrote a simpler example. The issue is that I want to take a file from `shinyFileChoose` and use this in a function in R. I can't figure out how to do this, but I have no problem passing `shinyDirChoose` to other functions in R.

[code]

[2020-02-29 02:51] vnijs commented on #133
shinyFiles uses an `actionButton` to pass along information about file paths. You need to use `is.integer` rather than `is.null`. See example linked below.

https://github.com/thomasp85/shinyFiles/blob/master/inst/example/server.R

[2020-03-02 13:28] mikeyEcology commented on #133
Thank you for your help, but I still don’t see how I can use this to do something like reading a csv. After consulting this example, I modified my server function so that I have:

 shiny::observeEvent(input$runFUN, {
    if (is.integer(input$input_file)) {
      cat("No files have been selected (shinyFileChoose)")
    } else {
      fun1(parseFilePaths(volumes, input$input_file))
    }
  })

But t

[2020-03-29 23:58] vnijs commented on #133
@mikeyEcology Try the below. I recommend using simple "print" debugging liberally to see what values you are getting back from function calls. For example, if you print the return from the call to parseFilePaths you will see it is a data.frame (tibble). So your next step should be to extract the full path from that data.frame as you can see below.

  shiny::observeEvent(input$runFUN, {
    if (is.

[2020-03-30 06:18] vnijs commented on #133
Closing for now as this seems resolved. Reopen if needed

[2020-03-30 06:18] #133 closed

[2020-03-30 06:23] vnijs commented on #132
@carlosavellaneda8 I just pushed some changes to the version of shinyFiles on GitHub. If you run the example in inst/example you will see that `shinyFilesButton` and `shinySaveButton` in ui.R now use a new `viewtype` argument. The default `viewtype` is set to `detail` but you can still specify `list` or `icon` if you prefer. Please try it out using the code below

[code]

[2020-03-30 06:24] vnijs commented on #115
Closing for now. If you find a good solution I'd be open to reviewing a PR of course

[2020-03-30 06:24] #115 closed

[2020-03-30 06:25] vnijs commented on #116
Closing for now. As mentioned above, I'd be happy to look at a PR but perhaps it would be best to start small to see if this is indeed a good and feasible path forward that would be worth a breaking change.

[2020-03-30 06:25] #116 closed

[2020-04-02 22:21] SamGG opened #134 "How to increase the size of the modal windows?"
Thanks for maintaining this invaluble package.
I notice some discussion about my question, but I didn't a practical way to achieve it.
I just want to change/overload a variable or css code, but I don't know where to search or what to change.
Could you help me?
Best,
Samuel

[2020-04-06 00:36] vnijs commented on #134
Width or Height or both? Also, can you explain your setting and why you need this?

[2020-04-06 00:50] vnijs commented on #134
Now that "detail" will be the default setting for shinyFiles, using a wider modal by default seems to make sense. Try out the new development version using the command below (assumes you have the `remotes` library installed)

[code]

[2020-04-06 06:39] SamGG commented on #134
Thanks for your answer. Today is full of conf calls, but I will tell you tomorrow.
No problem for installing from github.

[2020-04-07 15:27] SamGG commented on #134
Cool, wider. How to make it higher? Is there a way to set pixel or perentage dimensions by a ShinyJS trick or to make auto-adjust to 70% of height and 50% of width?

[2020-04-07 18:33] vnijs commented on #134
I'm sure it is feasible. However, you would have to dig into `inst/www/styles.css` to figure out the best way to adjust the various elements. Would be nice to have an option to set the default height (width) from R. Happy to review a PR

[2020-04-07 18:57] SamGG commented on #134
Thanks. I must confess that I doesn't like JS and vice versa. Nevertheless I will have a look.

[2020-04-07 19:01] vnijs commented on #134
Same :) @thomasp85 wrote 99.9999% of the JS in shinyFiles.js. And apparently, he doesn't like JS either.

[2020-04-07 20:39] SamGG commented on #134
How could it be possible???? :-)
I found where it is coded in the CSS and checked it could be changed interactively in the console of the web browser. It's the height of the .sF-fileWindow object. Current 400px sounds a little bit small to me. Now I need to understand ShinyJS to guess how to modify it.

[2020-04-07 23:21] SamGG commented on #134
The current solution consists in adding such a code to ui.R to define the height in the DOM. Do you think it's OK?
[code]
No shinyJS needed yet.

[2020-04-07 23:28] vnijs commented on #134
Couldn't you add this to your CSS file directly? I'd still be interested in having this as an argument to the different shinyFiles functions.

[2020-04-07 23:37] SamGG commented on #134
Currently, I change the height of the modal dialog once created by a piece of javascript in shinyFiles.js. I did play a little bit with the style, but didn't find a way yet. I didn't find a way to retrieve the height from a style definition neither. So, I have to assign the custom style to an object in the DOM that is not displayed.
I will try to overload the style by assigning a second style to s

[2020-04-07 23:44] vnijs commented on #134
CSS would be nice. Setting an argument to, e.g., `shinyFilesButton` just like we now have for `viewtype` in the development version on github would be really nice! See link below.

BTW if you set the `height` like you are doing now, does the viewer still compress if the window becomes smaller?

https://github.com/thomasp85/shinyFiles/blob/master/R/filechoose.R#L400-L429

[2020-04-07 23:58] SamGG commented on #134
I will look into your link tomorrow.
No, the height is in pixels, so it is fixed. It could be "em". I tried "%", but it not considered. In fact, the modal is responsive by definition as far I understand. Its height depends on the content we put in the modal box. So I guess you have to define a rigid size before filling it. Well, this is the current design.

[2020-04-08 00:01] SamGG commented on #134
I don't understand what you to show me with L400-L429. Is it about automatic resizing?

[2020-04-08 00:23] vnijs commented on #134
L400-L429 was just an example of how I've used an argument in R (i.e., `viewtype`) to pass something to shinyFiles.js and adjust a feature. In this case it was the `viewtype` which is either "detail", "icon", or "list".

[2020-04-08 08:27] SamGG commented on #134
Today, I started looking as viewport to guess its height. I ended up on a clear explanation of using units relative to viewport https://stackoverflow.com/questions/11516291/css-get-height-of-screen-resolution. So I modified the height of the sF-fileWindow to 60vh, and it does the job. Maybe there should be some `@media` defintions in the CSS, but it really size down when the display gets smaller.

[2020-04-08 08:46] SamGG commented on #134
To keep a track of what I did yesterday.
In shinyFiles.js, after creating the modal window variable and before defining the backdrop at line 917  https://github.com/thomasp85/shinyFiles/blob/5114986f281169243b680e5c1ac93bb9dbda9aa4/inst/www/shinyFiles.js#L916-L918
I added (comments to be removed, variables need to be renamed)
[code]
In my ui.r, at the beginning of the fluidpage function, I added
[

[2020-04-08 09:31] SamGG commented on #134
For the directory window, my choices are the following:
[code]
and
[code]
The directory and file selectors with a height of 60vh reduces nicely down to a view size of 610 px high. Decreasing those 3 values by 10vh allows a nice display down to a view size of 480 px high.
I think those values should be defined as default.
If you know a way to change the those values in the "sF/style.css" using R, l

[2020-04-09 02:35] vnijs commented on #134
I tried the below
![image](https://user-images.githubusercontent.com/2998956/78851627-1d00bc00-79cf-11ea-8624-e4e2efb5b463.png)

which produced

![image](https://user-images.githubusercontent.com/2998956/78851677-415c9880-79cf-11ea-97fb-c025530a3815.png)

@SamGG I really appreciate taking a first crack at this. It looks like lots of elements need to be configured just right to adjust height proper

[2020-04-09 07:36] SamGG commented on #134
So here is my exact setting. I only changed the 3 values, not the name of the properties. I changed this in the style.css file of the installed shinyFiles package, ie C:\Users\samgg\Documents\R\win-library\3.6\shinyFiles\www\styles.css. My copy of sF-DirWindow was slightly inexact. Could you try it and let let me know? If it does not work for you, could you tell me your browser and OS?
![image](ht

[2020-04-11 03:17] vnijs commented on #134
This is great @SamGG! Personally, I found 60vh a little too large for `.sF-fileWindow` on smaller screens, even though the modal does adjust of course. I prefer to use 50vh which is still a bunch larger than we had before. You can always adjust the height in your application that uses shinyFiles with an adjustment in the CSS file (e.g., below). Trying to do this from R would take too much time for

[2020-04-11 03:20] vnijs commented on #132
I'm closing this issue. Detail view will be the new default. Thanks for this suggestion @carlosavellaneda8. If you look at the example file in `inst/example`, you will see how you can change the default to `icon` or `list` view if you prefer. Also the example below.

[code]

[2020-04-11 03:20] #132 closed

[2020-04-11 08:22] SamGG commented on #134
Dear Vincent, I am glad you catch my point. Your changes are perfect, 50vh being sufficient.
In fact,  you noticed that Is set the height of the directory window 10vh less than the file window's height. So it's may be correct to reduce the dirWindow by 10 vh if this helps in cases like your last screenshot. Thanks for this great collaboration and thanks sincerely for maintaining this package.

[2020-04-11 08:22] #134 closed

[2020-04-11 09:39] vnijs commented on #134
Thank you for your contribution @SamGG. Much appreciated. I added information to the NEWS file. Updates will go to CRAN shortly.

https://github.com/thomasp85/shinyFiles/blob/master/NEWS.md

[2020-04-12 16:26] SamGG commented on #134
Thanks to you. I wish you have enough energy to maintain this package during the next decade :-)

[2020-04-12 18:50] vnijs commented on #134
Thanks @SamGG. I have a big shiny app (https://github.com/radiant-rstats) that relies heavily on shinyFiles so I'll probably keep this up for a while ... unless you are volunteering :)

[2020-04-12 19:44] SamGG commented on #134
radiant is not big!
radiant is a huge and impressive shiny app.
Congrat.
Not a volunteer, because I already have enough work and ideas for the next decade, things I really want to contribute to my field of research. But if you're stuck on something really important, feel free to mention me, and I'll look forward to it, with pleasure.

[2020-04-14 17:52] thomasp85 opened #135 "Release shinyFiles 0.8.0"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_shinyFiles.html)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.md`
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-rel

[2020-04-14 20:12] #135 closed

[2020-04-15 10:08] vnijs commented on #127
Closing this one as well no 0.8.0 is out. Thanks @thomasp85 !

[2020-04-15 10:08] #127 closed

[2020-04-20 22:23] AlexanderKononov opened #136 "Buttons don't work after package update"
Hi =) thanks for this package. it is very useful!
After last update buttons just stop to react, at all. Within inner examples "shinyFiles Example()" it is not working too.
I downgraded shinyFiles. It started to work again.

I work on Windows 10.
 Thanks=)

R version 3.6.0 (2019-04-26)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

[2020-04-21 00:53] vnijs commented on #136
Can you provide some more information on what is (not) working exactly? Screenshots would be helpful.

[2020-04-21 15:25] ptenax opened #137 "crash with larger disks?"
Thanks for your work on shinyFiles.  I am using two steps in my shiny app that allow users to select a folder with relevant files.  The app is unstable, and I am wondering if shinyFiles is the source.  The app crashes on some occasions but not others if I use the folder-select pop-up window.  If I wait too long to choose my file, there is a crash.  My computer has a 2TB SSD where all the files are

[2020-04-21 20:35] vnijs commented on #137
@ptenax. Seems unlikely but without additional information about error messages either in R(studio) or your web-browser's developer log there is no way to know for sure. FYI I also have a 2TB SSD drive in my macOS computer and have no issues. I also use shinyFiles in a large app that is used by 1,000s of students each year and have not heard of any issue. If you can provide more information (error

[2020-04-22 09:03] ptenax commented on #137
Thanks for your reply Vincent. The only error in RStudio is at the bottom of this comment, and I am not sure that is relevant.  My colleague said to inform you that the popup dialog window is rendered server-side.  The crash seems to be time-related.  If I wait too long to make a selection in the folder-choice pop-up window, the app crashes - in both RStudio and R with Firefox.  My colleague did n

[2020-04-22 19:48] vnijs commented on #136
FYI I don't use Windows much everything seem to be running fine in my Windows VM. I'll need more information about the issue to help out.

![image](https://user-images.githubusercontent.com/2998956/80026687-65bc7880-8497-11ea-8716-a77989769524.png)

[2020-04-22 23:08] vnijs commented on #137
"My colleague said to inform you that the popup dialog window is rendered server-side." Are you running the app on a server? If so, please provide more information about that setup.

FYI I have the folder select popup for shinyFiles 0.8 on Windows 10 open for several hours now without any issues. Can you try to replicate the issue with the command below from R(studio)?

`shinyFiles::shinyFilesExam

[2020-04-25 14:38] AlexanderKononov commented on #136
thanks. so.
After updating, any buttons do not open any windows to file management. after clicks, the next messages appear in R console:
input$file value:

[1] 0
attr(,"class")
[1] "integer"                "shinyActionButtonValue"

input$directory value:

[1] 0
attr(,"class")
[1] "integer"                "shinyActionButtonValue"

input$save value:

[1] 0
attr(,"class")
[1] "integer"

[2020-04-25 17:07] vnijs commented on #136
The messages in Rstudio look as expected and I cannot replicate the issue you are seeing. Can you open the example in Chrome ("Open in Browser) and report if there are any messages/errors you can see when you open chrome developer tools?

![image](https://user-images.githubusercontent.com/2998956/80285774-131fce00-86dc-11ea-86dc-e4f0f1fad227.png)

@rpodcast Is shinyFiles version 0.8.0 working as e

[2020-04-30 14:21] aravind211 commented on #69
hey guys, any update on this issue. I am still unable to use shinyFiles with Flexdashboard?

[2020-04-30 18:10] vnijs commented on #69
Looks like there is a more general issue trying to use Rmarkdown with runtime shiny together with shinyFiles. I'll post an issue and see if the shiny/Rstudio folks can provide some suggestions.

Rmarkdown:

    ---
    runtime: shiny
    ---

[code]

[code]

Shiny App:

    library(shiny)
    library(shinyFiles)

    ui <- fluidPage(
      shinySaveButton("saveFileRmd", "Save file", "Save file as

[2020-04-30 22:57] aravind211 commented on #69
Okay, I tested the following and it worked for me. Please let me know if this works for you:

Rmarkdown:

---
runtime: shiny
---

[code]

[code]

[2020-04-30 23:11] vnijs commented on #69
Nice work @aravind211! The below works, i.e., combining shinyFiles with Rmarkdown (runtime: shiny) and flexdashboards

    ---
    title: "shinyFiles + flexdashboard"
    runtime: shiny
    output: flexdashboard::flex_dashboard
    ---

[code]

[code]

[2020-05-02 02:36] vnijs commented on #69
Based on @aravind211 insights, it seems this is not an issue in shinyFiles, but rather how Rmarkdown handles shiny inputs. I'll close this for now but feel free to reopen if needed.

[2020-05-02 02:36] #69 closed

[2020-05-07 17:38] Matthewh19 opened #138 "shinyDirChoose does not work inside of a reactive"
Hello!
So I am working on a shiny app, and I am trying to use shinyFiles since it is such a great package. I am running into a problem though because I want people to be able to specify a projects root if they want (since this is to be run locally on people's computers), so I have a text box for users to paste their root into, but I also want it to be optional so that if someone wants to just clic

[2020-05-08 00:25] vnijs commented on #138
I'm about to select directories in your app. In fact, I'd recommend to use a directory selector to set the project base rather than have a user type it in

![image](https://user-images.githubusercontent.com/2998956/81357082-9f8ca200-9087-11ea-90d8-15f36d96c7c4.png)

[2020-05-08 01:25] Matthewh19 commented on #138
@vnijs Sorry the problem occurs when I try and paste a root in and then select a folder with the folder selector. The reason I am having it be something you paste in is that if someone has their folder open and they want to copy and paste in where they are.

[2020-05-08 01:55] vnijs commented on #138
The best way to go would be an extension of the PR below. I'm fine using, for example, `C:/Users/me` instead of "Home".

https://github.com/thomasp85/shinyFiles/pull/129

[2020-05-08 18:09] Matthewh19 commented on #138
I am not sure how I would use that PR for this. The benefit of having a textbox to enter in your root is that I then can have it set that path as the root for all of the different selectors. I also just practically have it working, there is just something going wrong with the folder selector.

[2020-05-09 22:22] vnijs commented on #138
I think you would be better off using the directory selector to choose the root dir. That said, the below should work as you want it now.

[code]

[2020-05-15 15:36] vnijs commented on #138
Closing for now. Reopen if needed.

[2020-05-15 15:36] #138 closed

[2020-05-15 22:18] KinSimon96 opened #139 "Copying files from my computer to the shiny server-side"
Hello,

I'm sorry in advance if this question looks quite common or relatively simple, but  I'm definitely not used to it.

To make it short, I would like to copy some files from my lap into the server root, so every user can have access and use them for genomic downstream analysis. Here is how it looks like when the app is deployed:
![Annotation 2020-05-14 161614](https://user-images.githubuserco

[2020-05-16 02:12] vnijs commented on #139
Nice idea but not possible with shinyFiles. It runs on the same machine as where shiny (server) runs (e.g., the server). You could use a regular fileInput to upload data from your laptop and write some code to save it where you want on the server.  Then you could use shinyFiles to access files on the server.

[2020-05-16 02:12] #139 closed

[2020-05-18 09:41] PhilipFaure opened #140 "shinyFiles re-indexes folder contents slowing down performance."
Hi,

We are using your shinyFiles package extensively within an app we are developing. We really like shinyFiles, but we have one issue for which we can not find a work around. Often, users will be working with large hard drives (e.g. 4 Tb drives) and some folders on it may easily contain well over 200,000 images. With such folders, if an user clicks on or tries to open one of these folders using

[2020-05-18 14:16] Matthewh19 commented on #138
The problem is that now that doesn't work if I paste nothing in as a root. It should theoretically use getVolumes()() to get the roots, but the selector is just blank. I am sorry for opening this back up. I really do appreciate all of the help!

[2020-05-19 03:11] vnijs commented on #138
Can you take a look at the issue below. I provided a solution there that might translate to your setting. Let me know

https://github.com/thomasp85/shinyFiles/issues/124

[2020-05-19 18:21] vnijs commented on #140
I assume you are talking explicitly about the `shinDirChoose`? There is currently no way to turn off the preview. I agree that it might make sense to try and limit the size of the preview.

[2020-05-27 04:33] pantheracorp commented on #140
@vnijs @PhilipFaure – we are having the same issue for shinyDirChoose. Is there any plan to allow users to limit these previews, @vnijs? That may really help! Thanks

[2020-05-27 05:26] vnijs commented on #140
I could add a `max_files` argument to `shinyDirChoose`. If you set that to, e.g., 1000 you wouldn't only see the first 1000 entries from `fs::dir_ls`. Would that work for you?

[2020-05-27 05:29] pantheracorp commented on #140
Hi @vnijs, that would work, assuming it'll speed up the process? Thank you!

[2020-05-27 05:59] vnijs commented on #140
Try the below and let me know if you see any issues:

`remotes::install_github("thomasp85/shinyFiles@max_files")`

[2020-05-27 10:51] pantheracorp commented on #140
The recent update unfortunately increases the computation time, it's taking even longer (~ 50% longer) to drill down into directories when max_files = 10, compared to the default. Just for clarity, when using shinyDirChoose, is the function indexing or caching the entire folder contents? Just trying to get an idea of why there is such a delay. Many thanks

[2020-05-29 02:16] vnijs commented on #140
I see no reason why the changes in the commit linked below could increase computation time. I'm afraid you will have to dig into the `fileGetter` function to explore what might address you specific situation

https://github.com/thomasp85/shinyFiles/commit/680c1c2ec779e0fa892537ea7d06dfe5d4fe2844

[2020-06-23 15:54] esimonds opened #141 "[R 4.0.1] shinyFilesExample() gives error: "cannot coerce type 'closure' to vector of type 'character'"
shinyFilesExample() appears to be broken on R 4.0.1 in Rstudio 1.3.959 on a Mac.

[code]

<img width="1025" alt="Screen Shot 2020-06-23 at 8 49 43 AM" src="https://user-images.githubusercontent.com/1001940/85426061-d5e68980-b52e-11ea-88b5-8ab5b56fd807.png">

This minimal example for shinyFilesButton from StackOverflow works properly:

[code]

And this minimal example for shinyDirButton from commun

[2020-06-24 07:23] vnijs commented on #141
Interesting. Thanks for posting but I can't replicate on macOS (Mojave)

![image](https://user-images.githubusercontent.com/2998956/85514267-b8f29a80-b5b0-11ea-9c5f-cf9d8680ef0f.png)

[2020-06-25 01:39] esimonds commented on #141
Thanks for following up so quickly, Vincent. You're right, now that I've reboot my laptop, it works just fine. I'm not sure why I was getting that error with shinyFilesExample() yesterday, but maybe it was something to do with other packages that I still had running in the background. I should have at least restarted R before filing a bug report! Anyway, thanks, closing this report now.

[2020-06-25 01:39] #141 closed

[2020-06-25 02:16] vnijs commented on #141
No worries @esimonds

[2020-06-29 14:07] benmarchi opened #142 "Unable to create new directory with "+" button in shinySaveButton()"
This is an absolutely great package. Thanks for all the hard work!

Unfortunately, I can't seem to get the `Create new folder` button in the `shinySaveButton()` dialog to work correctly. In particular, whenever I try to enter a folder name and press the "+" button, a new folder is not generated and `NULL` is populated in the filename input box. This behavior is consistent in both Chrome and Firefo

[2020-07-02 06:52] vnijs commented on #142
I can reduce the issue. Thanks for reporting. I'll look into it.

[2020-07-05 17:46] dipterix opened #143 "Options to disable creating/renaming directories"
I want to use `shinyFiles` on a server as directory chooser. However, I don't want users to accidentally rename/create folders. Is there any option to disable these functions?

[2020-07-05 22:25] vnijs commented on #143
If you don't want users to create new directories you should be able to do that by setting (linux) user  permissions on the server before users have access. This would require admin privileges on the server. shinyFiles will just work with the permissions you have set.

[2020-07-05 22:25] #143 closed

[2020-07-05 23:23] vnijs commented on #142
@benmarchi It took me a loooonnnnnnggggg time to figure out there was a "." missing. (i.e., "input-group" should have been ".input-group"). I'm pretty sure this bug has been there for well over 2 years so thank you for spotting it and reporting.

Please try out the development version on github using:

`remotes::install_github("thomasp85/shinyFiles")`

[2020-07-06 00:41] dipterix commented on #143
It'll be nice if we could do that on the server. However, in many cases we don't have control on file permission or the file needs to be writable, just not writable by shinyFiles. Now that shinyFiles respect Linux file permission, maybe we could just override that permission when launching instance?

[2020-07-06 00:51] vnijs commented on #143
Happy to look at a PR for this feature.

[2020-07-06 03:13] dipterix commented on #143
PR submitted.

[2020-07-08 11:56] SaideSa opened #145 "ShinyFileChoose does not work with Internet Explorer"
Great package! But unfortunately running the ShinyApp externally in Internet Explorer does not work. The `shinyFileChoose()` does not react after clicking the `shinyFilesButton()`.

[code]

[2020-07-09 08:41] vnijs commented on #145
There is not much I can do about that unfortunately. The only good news is that IEs marketshare is below 2% now I believe. Try the new edge browser which is based on Chromium.

[2020-07-09 08:41] #145 closed

[2020-08-12 13:02] KasperThystrup opened #146 "Unable to run shinyFilesExample()"
Hi
I'm trying to execute shinyFilesExample(), however, when I execute the command I get the following error message.

[code]

R Session
[code]

OS details

Note: When searching for the issue online, other github packages show up with a very similar ENOENT errors.

[2020-08-13 06:14] vnijs commented on #146
Does Arch really not have a `/media` directory by default? If so, a quick work-around would be to just create this directory. I'll push an update to github soon that will check if a`/media` directory actually exists to avoid this issue in the future.

[2020-08-13 09:48] #146 closed

[2020-08-13 09:50] vnijs commented on #146
Please try the development version on GitHub using the command below. If you still see this issue, please reopen.

`remotes::install_github("thomasp85/shinyFiles")`

[2020-08-16 09:34] pakom opened #147 "shinyFileChoose crashes on loading .RData file in locally ran application"
I am having a trouble loading an `.RData` file using a `shinyFileChoose` button. The app I am building is supposed to run on a local machine using files stored on the local machine. Here is sample code of the app:

[code]

When I press the `Choose file` button, the app brings the file choose dialog and then immediately crashes with the following message in the RStudio console:

`Warning: Error in

[2020-08-16 19:15] pakom commented on #147
Oh, I think I figured it out: the `observeEvent` immediately looks for the file path when the button is pressed, but at this time it is not existing (`character(0)`). So if I add a condition to look for the length of the path, then everything is OK. So the full app will look like this:

[code]

Problem solved. I will leave it here for further reference if someone stumbles across the same issue.

[2020-08-16 19:15] #147 closed

[2020-08-17 07:36] vnijs commented on #142
Closing because the issue seems to be resolved in the GitHub version. Reopen if needed.

[2020-08-17 07:36] #142 closed

[2020-08-17 07:39] vnijs commented on #147
@pakom Also take a look at the code in the shinyFiles example.

https://github.com/thomasp85/shinyFiles/blob/master/inst/example/server.R#L30-L36

[2020-08-17 12:37] KasperThystrup commented on #146
From my early Ubuntu days ~8 - 9, I assume /media is used for mounted devices. In Arch /run/ is used for this purpose, I honestly thought it was an overall restructuring of Linux, so I was unsure whether an empty /media folder could do the trick.

Anyways, Thank you so much for your swift response!

Installing the shinyFiles from Github (along with updating dependencies): **_shinyFiles_0.8.0.9002_

[2020-09-16 13:25] jsoeldi opened #148 "Navigation through folders is limited. At a certain point I cannot open additional folders."
I am currently building a shiny app where the user can choose the directoy from which the data is loaded. It all works fine if I only need to open a small number of folders.  After 6 Folders I cannot open addiotional Folders.

[2020-09-17 07:13] vnijs commented on #148
That sounds very odd. Can you provide a minimal reproducible example?

[2020-09-17 11:25] jsoeldi commented on #148
This is my UI script:

#### Shiny App ####
library(shiny)
library(shinyFiles)
library(plotly)

# Define UI for app that draws Efficient Frontier ----
ui <-fluidPage(
  #

  # App title ----
   titlePanel("Efficient Frontier"),

    sidebarLayout(
      sidebarPanel(

        shinyDirButton('directory', label='Select Directory!', title='Please select a Directory'),
        verbatimTextOutput(output

[2020-09-17 19:06] vnijs commented on #148
My first thought is that it could be a permission issue on the folders but I'm not sure. The other is that if you do have 1000s of files in a folder things could get slow https://github.com/thomasp85/shinyFiles/issues/140

[2020-09-24 15:52] JoshOBrien opened #149 "shinyDirButton hidden with shinyjs::hidden() causes two shinyFiles dialog boxes to open on click"
Rather than describe the behavior in detail, here is a minimal reproducible example. Briefly, though, both of the **shinyFiles** buttons in this app (one of them initially hidden) launch two dialog boxes each time they are clicked, one box right behind the other. I have no idea why.

I am able to find a workaround in this case (by making **both** of the **shinyFiles** buttons hidden to begin with)

[2020-09-24 17:50] vnijs commented on #149
Sorry. I'm not familiar with ShinyJS

[2020-09-24 19:13] JoshOBrien commented on #149
No problem. Thanks for your work on this package.

FWIW, wrapping the **shinyFiles** button in a div (here with id `"div-dir"`) and hiding/toggling *that* seems to be an easy enough workaround.

[code]

[2020-09-24 19:30] vnijs commented on #149
Thanks for reporting. If you do end up digging further into this and find that the issue is in shinyFiles, please do reopen the issue

[2020-09-24 19:30] #149 closed

[2020-09-24 20:18] JoshOBrien commented on #149
Will do. Thanks again.

[2020-10-08 17:41] MayaGans opened #150 "use shinyFiles with RSC?"
hello and thank you for the wonderful package! I was wondering if/how it'd be possible to use this package with rstudio connect or are files only accessible locally by design?

[2020-10-09 08:08] vnijs commented on #150
shinyFiles provides access to files on the system running the shiny app. That means it will allow access to files on the server running Shiny Server. I have not (yet) used Rstudio Connect but I don't see why that would be any different. You should try running the example linked below on your server and figure out to set up the apps you want to use or develop

https://github.com/thomasp85/shinyFile

[2020-10-09 08:08] #150 closed

[2020-10-09 13:34] MayaGans commented on #150
Hi @vnijs thank you so much for your prompt reply. My mental model was wrong and I phrased my question incorrectly -- when deployed the folders on my local machine are available (woohoo) but my company uses another drive which it doesn't look like I have access to once the app is deployed. Is there a way to get network drives as options in the file explorer?

[2020-10-10 06:44] vnijs commented on #150
Take a look at:

https://www.rdocumentation.org/packages/shinyFiles/versions/0.8.0/topics/getVolumes

[2020-10-13 16:33] JoshOBrien opened #151 "Any way to share or pass "last position in file system" between shinyFiles buttons?"
The `?shinyFiles-buttons` help page notes that:

I am developing an app that requires upload of several files that are likely to have been stored in the same directory on a user's computer. It would be very nice if users didn't have to repeatedly navigate to the same directory to upload the various files.

Is there currently any way to update the data structure underlying a **shinyFiles** button w

[2020-10-14 07:49] vnijs commented on #151
Why not just upload multiple files at once? I guess I'm missing why you would need more than "The last position in the file system is automatically remembered between instances"

[2020-10-14 15:12] JoshOBrien commented on #151
The app I'm working on maps several spatial features onto a leaflet-based map. The spatial features are also used as inputs to a geospatial model, and attached each feature, the model requires a number of other user-supplied parameters.

I've set things up so that each required spatial feature gets its own tab. On each tab is: (1) a file upload button;  (2) a `selectizeInput()`, dynamically update

[2020-10-14 20:00] vnijs commented on #151
Thanks for that @JoshOBrien. I think it would be a fair amount of work to add this to shinyFiles and it is not obvious to me that this would be something many others would need. It might be easier to use some action buttons on other pages and then figure out some JS that would send a click event to the main shinyFiles. I haven't tried this but I think it should be possible

[2020-10-14 21:11] JoshOBrien commented on #151
@vnijs Would you mind explaining what you mean by "the main shinyFiles"? Would the approach you're envisioning work without setting up a *shinyFiles* button with `shinyFilesChoose()`?

Or do you mean that my shiny UI would include one call to `shinyFilesChoose()` to set up a **shinyFile** button, as well as several action buttons (one per tab that needs to upload a file), each of which executes a

[2020-10-15 00:31] vnijs commented on #151
The 2nd option. It has been quite some time since I did something like this in my radiant.data package (https://github.com/radiant-rstats/radiant.data). In the JS code below `#state_save` is a shinyFiles button and `#state_save_link` is a regular shiny action link. When a user clicks on the `#state_save_link` the `#state_save` modal is opened so this could be your action button on another tab.

[c

[2020-10-15 14:20] JoshOBrien commented on #151
@vnijs Thanks! That is super helpful. Between the code and your comments and the comments preceding it [in your radiant.data repo](https://github.com/radiant-rstats/radiant.data/blob/fe8e388a03b6e70d217051ed769fadc77d27caf0/inst/app/www/js/run_return.js), I should be able to figure this out. Will return here to post a minimal working example once I get it set up.

[2020-10-16 02:13] JoshOBrien commented on #151
@vnijs Sure enough, that worked a charm. What a clever idea! A simple two-file reproducible example follows:

##### Contents of "www/myscript.js"
[code]

##### Contents of "app.R"
[code]

[2020-10-16 22:09] vnijs commented on #151
Thanks for sharing the example @JoshOBrien. Very nice! I'll close this issue but feel free to post again if needed.

[2020-10-16 22:09] #151 closed

[2020-10-24 03:40] lz100 opened #152 "Folder navigation not limited"
I can change to parent folder(s) by typing "/.." on Linux, see image:
![Screenshot from 2020-10-23 20-34-31](https://user-images.githubusercontent.com/35240440/97067182-2527ee00-15e5-11eb-8f5b-57b8a44fd880.png)

[2020-10-24 06:19] vnijs commented on #152
Thanks for reporting! @bellma-lilly could you take a look at this? I'd like to keep the option but this represent a security risk.

[2020-10-24 15:34] bellma-lilly commented on #152
@vnijs @lz100 My proposed solution would be to normalize the requested path (which should resolve "..") and make sure the root is still included in the path. If not, we reset to the root. This allows the user to continue using ".." as long as it doesn't present a security risk:

    if(!startsWith(normalizePath(fulldir),normalizePath(currentRoots[root]))){
      #trying to go above the root

[2020-10-24 19:53] vnijs commented on #152
Thanks @bellma-lilly. My only concern here is what happens when an invalid path is provided and `normalizePath` throw an error. It would be good to try and "catch" that error if it occurs and have a default behavior that is secure.

[2020-10-27 16:15] bellma-lilly commented on #152
@vnijs Thanks; I have integrated your suggestion into the PR #153

[2020-10-29 05:37] vnijs commented on #152
@bellma-lilly It seems the PR breaks your previous work. For example, nothing happened whey I tried `Home/Desktop` or `Home/Dropbox`. I just realized this is because I am using WSL2 and `Desktop` is a symbolic link to the Windows Desktop. I then tried `fs::path_has_parent` which worked with symbolic links and avoided the `Home/..` problems that @lz100 mentioned. However, if I used `Home/Desktop/..

[2020-10-29 15:48] bellma-lilly commented on #152
@vnijs This works, and the code is cleaner.

[2020-10-29 19:00] vnijs commented on #152
@lz100 Can you please check the master branch on github? Want to make sure there are no remaining security issues.

[2020-10-29 19:21] lz100 commented on #152
Hi @vnijs I tested and it fixed the issue from @bellma-lilly fork not from the master branch. I see you guys somehow closed that pull request rather than merging the pull request.

[2020-10-29 19:27] vnijs commented on #152
My mistake. Merged now. Thanks for confirming @lz100!

[2020-10-31 22:34] vnijs commented on #152
@bellma-lilly and @lz100 I ran into problems when `currentRoots[root]` was "/" and dir was "/home". See code example below.

[code]

Fix commit linked below. Please try this out and let me know if you run into any edge cases.

https://github.com/thomasp85/shinyFiles/commit/ffa4e5f35968932d4eea30a197f23b42ec3aa4f7

[2020-11-02 15:27] bellma-lilly commented on #152
@vnijs Does windows have a similar problem?

[2020-11-02 19:47] vnijs commented on #152
I'm not seeing any issues on Windows. It is just linux (and I expect macOS) where this would come up.

[2020-11-02 20:09] bellma-lilly commented on #152
@vnijs This change works for me. I might suggest removing the check for windows as it doesn't matter.

[2020-11-02 20:12] vnijs commented on #152
I think I misunderstood your prior comment. It is important to have the check since "//" is used for networks drives on Windows.

[2020-11-02 20:14] bellma-lilly commented on #152
got it; good point. I haven't used windows in a long time now, and I forget about that sort of thing

[2020-11-07 23:09] vnijs commented on #152
I'll close this issue now. Thank you @lz100 for reporting this issue and thank you @bellma-lilly for the PR.

[2020-11-07 23:09] #152 closed

[2020-11-16 11:49] bertolami opened #154 "shinyDirChoose compatibility problem with shiny.i18n"
If a translationText is used as label of a shinyDirChoose the entire span code is displayed in the button.

The problem seems to be the as.character(label). If the as.character is removed to translation is displayed correctly.

[2020-11-18 07:47] vnijs commented on #154
I'm not familiar with shiny.i18n. Where are you seeing the `as.character(label)` code exactly?

[2020-11-18 10:28] bertolami commented on #154
In the shinyDirButton function. just at the end where data-val is set:

`> shinyDirButton
function (id, label, title, buttonType = "default", class = NULL,
    icon = NULL, style = NULL)
{
    value <- restoreInput(id = id, default = NULL)
    tagList(singleton(tags$head(tags$script(src = "sF/shinyFiles.js"),
        tags$link(rel = "stylesheet", type = "text/css",
            href = "sF/styles.cs

[2020-11-18 19:30] vnijs commented on #154
Thanks! What "type" is your label when you pass it to shinyDirButton? If it is of type character then I could add a check and only convert if not a character.

[2020-11-23 22:07] vnijs commented on #154
A minimal reproducible example would be really useful here. Thanks

[2020-11-24 07:16] bertolami commented on #154
[code]

[2020-11-28 21:15] vnijs commented on #154
I get the output below when running this example. Is there anything else I need to check this?

[code]

[2021-02-18 18:29] see24 opened #155 "getVolumes hangs when drive is no longer available"
This is a very specific issue that might not come up for many people but it was really annoying for me so thought I would put it out there.

getVolumes was working fine in my app and then the app stopped working completely which I eventually traced to `getVolumes()()`  hanging for a long time. I eventually figured out that this was happening because I had disconnected from my VPN to connect to my

[2021-03-10 11:09] trafficonese opened #156 "Dropdown Button not working with bslib"
The dropdown buttons won't open, when using the new library `bslib`.

[code]

When I add the following CSS it works again. I am not sure why the `!important` is needed in this case..
[code]

[2021-03-31 07:02] jnhyeon opened #157 "shinyDirButton has a layout problem on bs4Dash dashboard"
shinyDirButton has a layout problem on bs4Dash dashboard (https://rinterface.github.io/bs4Dash/)
It's been a long time ago.
Please make a fix.

Thank you.
![2021-03-31_160138](https://user-images.githubusercontent.com/3360511/113103575-68445800-923a-11eb-8dfb-bd135611391b.png)

[2021-04-11 22:25] vnijs commented on #155
Thanks for reporting @see24. I made a change to the commands on Windows that scan for drives (see link below). My hope is that this will skip drives that do not respond within 3 seconds and then move on to other drives.

I don't have any network drives on Windows to fully test this out so could you try it and let me know?

To install the development version of shinyFiles please use the command bel

[2021-04-12 14:44] see24 commented on #155
While connected to the VPN I got this warning message:
"Warning in system(paste(wmic, "/FAILFAST:3000 logicaldisk get Caption"),  :
  running command 'C:\WINDOWS\System32\Wbem\WMIC.exe /FAILFAST:3000 logicaldisk get Caption' had status 44003"
But it all worked fine as before.
When I disconnected from the VPN and tried again the app loaded okay but when I open the file selector it is blank and I ca

[2021-04-17 04:44] vnijs commented on #155
Thanks for testing this out! I made a change that will (1) hopefully avoid the warning being printed and (2) fail faster if VPN is not on. See commit linked below. Can you try again? Also, feel free to make edits to `R/aaa.R` and report if you find settings for `/FAILFAST` that work best. I think this is the best path to go because it should still return other drives even if one network drive is n

[2021-04-17 20:01] vnijs commented on #155
Minor update. Use the code below to install the latest version.

`remotes::install_github("thomasp85/shinyFiles", upgrade="never")`

https://github.com/thomasp85/shinyFiles/blob/master/R/aaa.R#L82-L86

[2021-05-29 21:39] vnijs commented on #155
@see24 Can you try this out? Use the code below to install the latest version.

`remotes::install_github("thomasp85/shinyFiles", upgrade="never")`

https://github.com/thomasp85/shinyFiles/blob/master/R/aaa.R#L82-L86

[2021-06-29 23:54] jnhyeon opened #158 "UI is not displayed properly in the latest Boostrap4-based bs4Dash package"
Thank you for making such a wonderful package.
Your package works fine with Bootstarp3 based shinydashboard, shinydashboardplus packages.
However, the UI is not displayed properly in the latest Boostrap4-based bs4Dash package.
I hope your package also works well with the bs4Dash package.

Thank you.

[2021-06-30 07:05] vnijs commented on #158
Can you try out the development version? Alignment should look a little better at least. If you see problems please provide screenshots. The dropdown buttons do not work in bs4. I asked the developer of bslib for any suggestions (see issue linked below).

https://github.com/rstudio/bslib/issues/347

[2021-06-30 07:53] jnhyeon commented on #158
Thank you for the reply.
I installed the developer version (0.9.0.90000) with devtools::install_github('thomasp85/shinyFiles').
However, the UI of shinyDirButton is still not displayed properly in bs4Dash.
'Contents' is under 'Directories'.
Thank you.

![image](https://user-images.githubusercontent.com/3360511/123922956-80577f00-d9c3-11eb-90d3-ad9de5fd70a5.png)

[2021-06-30 08:15] vnijs commented on #158
I have not use b4dash. Only bslib. Can you provide a minimal reproducible example?

[2021-07-01 00:55] vnijs commented on #158
Thanks @jnhyeon. With the help of @cpsievert I think I have most of the changes address. However, **not** the issue why these windows are no longer shown in-line as they were before. Perhaps @thomasp85 has some ideas?

[2021-07-04 17:55] ruthkr commented on #158
Hi, @vnijs I think I've found a fix for the element distribution in the modal in Bootstrap 4 using {bslib} (and presumedly {bs4Dash}). I've just added the following to my to my CSS stylesheet, and everything looks correctly aligned in the modal:
[code]

![image](https://user-images.githubusercontent.com/38610118/124394854-1c9dc080-dcf9-11eb-82ba-cb39033a31c3.png)

[2021-07-04 20:39] vnijs commented on #158
Thank you @ruthkr! That was very helpful. Please try out the latest [commit](https://github.com/thomasp85/shinyFiles/commit/1ae4ef63ef32164cdabcb28e86a6ae0b07ce733e)

[2021-07-04 23:24] jnhyeon commented on #158
Thanks to @vnijs and @ruthkr.
I can finally upgrade my company project from shinydashboardplus package to bs4Dash package.

Thank you very much. :)

[2021-07-26 08:39] jraniero commented on #136
I am encountering the same issue. Simple example here does not throw any error, but when clicking the button, nothing happens (no directory window is shown):

`library(shiny)
library(shinyFiles)
shinyApp(
  shinyUI(bootstrapPage(
    shinyDirButton('folder', 'Select a folder', 'Please select a folder', FALSE)
  )),

  shinyServer(function(input, output) {

    shinyDirChoose(input, 'folder', roots

[2021-07-26 09:03] jraniero commented on #136
Got the problem fixed by downgrading package fs to 1.2.7

[2021-08-06 06:41] lz100 opened #159 "parseFilePaths is.na errors"
My  R has this stricter checks for `||` to check the length 1, so the following code in `parseFilePaths` no longer works

[code]
I know if I use input$xxx from fileButton to pass to the selection, it is a list of more than one item so it will fail. To reproduce:

[code]

[2021-08-09 01:00] vnijs commented on #159
Thanks for reporting @lz100. Please try out the development version

[code]

[2021-08-09 17:44] lz100 commented on #159
Thanks, this fixed the issue.

[2021-08-09 17:44] #159 closed

[2021-09-20 13:31] see24 commented on #155
Works well now! The first time connecting after disconnecting from VPN it takes a little while for the file selector to load but works well and it is not too long.
Thanks for fixing this and sorry I took so long to test it!

[2021-09-20 13:31] #155 closed

[2021-09-23 06:18] vnijs commented on #155
Thanks @see24 !

[2021-11-06 22:06] vnijs commented on #158
Closing. Pushing new version to CRAN soon

[2021-11-06 22:06] #158 closed

[2021-11-06 22:06] vnijs commented on #157
Closing. Pushing new version to CRAN soon

[2021-11-06 22:06] #157 closed

[2021-11-06 22:08] vnijs commented on #156
Closing. Pushing new version to CRAN soon

[2021-11-06 22:08] #156 closed

[2021-11-06 22:11] vnijs commented on #136
Closing. Pushing new version to CRAN soon. If the below does not work, with the current development version, please re-open this issue.

`shinyFiles::shinyFilesExample()`

[2021-11-06 22:11] #136 closed

[2021-11-10 07:25] thomasp85 opened #160 "Release shinyFiles 0.9.1"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_shinyFiles.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers

[2021-11-10 14:46] #160 closed

[2021-11-18 08:51] stephanmg opened #161 "Function "shinyDirButton" not found with R version 4.1.1"
Hello,

I'm faced with this warning message:

`Warning: Error in shinyDirButton: could not find function "shinyDirButton"`

Is this expected? Happy to share code snippets if required.

[2021-11-18 09:29] vnijs commented on #161
Check that you have the latest version from CRAN (0.9.1). Then please double check that the example below works on your system.

[code]

Also, please provide a reproducible example. Thanks

[2021-11-18 09:45] stephanmg commented on #161
Hi @vnijs,

actually this happens only when deployed to `shinyapps.io` - your example works as well as my code - only deployed remotely won't work. Version is on the server 0.9.1.

[2021-11-18 09:49] stephanmg commented on #161
Code is as follows:

`ui.R`:
[code]

`app.R`:

[code]

[2021-11-18 10:18] #161 closed

[2022-01-17 15:20] sgvignali opened #162 "Selection event not fired"
Hi,

first of all thank you for this package! It looks like the selection event is not fired.

To easily test it you can:

1. run `shinyFilesExample()`
2. add `$('#save').on('selection', function(event, path) {console.log(path);})`  form the console of the browser
3. interact with the button.

I've tried only with `shinySaveButton` but I don't know if this happens also with the other buttons.

[2022-01-17 20:14] vnijs commented on #162
@sgvignali: I'm not seeing any issues with `shinyFiles::shinyFilesExample()`. Can you provide a small fully reproducible example that highlights the issue you are seeing?

[2022-01-21 14:05] Mailinnia opened #163 "getVolumes - WMIC.exe deprecated"
It seems that getVolumes on windows uses wmic.exe which is deprecated, so I can't use it to get all my drives.

_"The WMIC tool is deprecated in Windows 10, version 21H1 and the 21H1 semi-annual channel release of Windows Server. This tool is superseded by Windows PowerShell for WMI. Note: This deprecation only applies to the command-line management tool. WMI itself is not affected."_ [Windows 10

[2022-01-22 04:45] vnijs commented on #163
I'm using the same version and it still seems to be working fine. Can you show what you are trying to do?

![image](https://user-images.githubusercontent.com/2998956/150624985-fd8b52ae-fa3f-48a4-8328-2dcaa3002497.png)

[2022-01-22 08:24] Maillinia commented on #163
I'm using windows11 insider and wmic.exe does not exist there

[2022-01-23 19:40] vnijs commented on #163
We can't make any changes until a clear replacement is available. Unfortunately it is not clear to me (yet) what that would be. It would have to be something that works on both Windows 10 and Windows 11

https://github.com/thomasp85/shinyFiles/blob/master/R/aaa.R#L82-L86

If you have suggestions, or want to create a pull request, please let us know

[2022-01-25 09:14] Maillinia commented on #163
It can be replaced by running a powershell command:

[code]

As I don't have wmic I don't know how the volume names usually look when using getVolumes()

All Windows come installed with [powershell ](https://docs.microsoft.com/en-us/powershell/scripting/windows-powershell/install/installing-windows-powershell?view=powershell-5.1).

[2022-02-05 19:25] vnijs commented on #163
Thanks for this starting point. However, on my system that only get the C drive. Not the 3-4 other mounted drives. I think Get-PSDrive may be the tool we will need. If you have ideas, please us know.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/get-psdrive?view=powershell-7.2

[2022-02-07 20:03] Deavd9 commented on #163
I had the problem that `getVolumes()()`  didn't show the correct names (NANA and empty), didn't include USB-Drives and printed a warning on every call:

_Warning in system(paste(wmic, "/FAILFAST:1000 logicaldisk get VolumeName"),  :
  running command 'C:\WINDOWS\System32\Wbem\WMIC.exe /FAILFAST:1000 logicaldisk get VolumeName' had status 44003_

I came up with a solution that worked for me using P

[2022-02-16 15:42] sgvignali commented on #162
Here is a reproducible example:

[code]
When you select a file the selection event is fired and the corresponding h4 tag is populated. This doesn't happen with the save button. I hope this helps!

Sergio

[2022-02-16 20:31] vnijs commented on #162
Thanks for that @sgvignali. This my busiest teaching quarter so it will be at least a few weeks before I will be able to make time to work on this. If you want to craft a PR that addresses your concern that would be wonderful

[2022-02-17 16:40] sgvignali commented on #162
@vnijs I'll try to prepare a PR in the following days.

[2022-02-22 07:05] Basit403 commented on #24
my file is showing empty file pls what is the solution amusing windows please

[2022-03-15 10:25] jllipatz opened #165 "Problem with window file names containing special characters"
With windows, using in a file entry name non standard characters such as those used in the french language make the file not choosable with shinyFiles. In the example, the last file is just a copy of the population.csv, which was given the name a.csv (but with an accent over the a). The display is wrong (probably because the characteristics of the file are not accessed) and th selected file name t

[2022-03-15 11:14] jllipatz commented on #165
Sorry, the problem is not in shinyFiles nor in CRAN compilation but in the package "fs". Its version 1.5.2 doesn't read the file names correctly, but the previous I had (1.5.0)  didn't fail. I left the issue unclosed as I don't know what to do in such cases.

[2022-03-16 00:46] vnijs commented on #165
Report to `fs`?

[2022-03-16 08:48] jllipatz commented on #165
I did.

[2022-03-16 19:59] vnijs commented on #165
Thanks. Can you link issue and/or report back what you learn?

[2022-03-31 10:41] ShinyFabio commented on #158
Hi, this problem persists if I use a `{fresh}` theme inside bs4Dash package. Here's a reproducible example:

[code]

[2022-04-01 04:03] vnijs commented on #158
Not sure what the issue but I can't even get the buttons to work in this demo, presumably, due to a conflict with bs4Dash. `shinyFiles` works as expected with the Rstudio-supproted `bslib`. If you supply a PR with a fix that would make this work with bs4Dash as well I would be happy to review.

![image](https://user-images.githubusercontent.com/2998956/161192516-0d7beda6-db06-4a3a-afea-7c22c102dea

[2022-04-01 07:26] ShinyFabio commented on #158
Exactly, it doesn't open anything. I don't have your devtools error. I just took the previous example from [jnhyeon](https://github.com/jnhyeon) and added the `fresh` theme.  As you can see it seems that everything is rendered but not displayed.

![Screenshot (231)](https://user-images.githubusercontent.com/78078351/161215582-2940965d-e758-4b75-86ef-e0e0ffd08f0e.png)

However what is a PR? I'm sor

[2022-04-05 05:52] vnijs commented on #158
A PR is a "Pull Request". It is a suggested fix for the problem that you are seeing. shinyFiles works as intended with `bslib` which is supported by Rstudio and offers access to bootstrap 3 and 4. It would be nice if everything worked with other libraries as well that is not something that I can currently carve out time for if it is not working. Sorry

[2022-04-05 07:27] ShinyFabio commented on #158
Ah ok now I understood. I can have a look but I'm not very skilled

[2022-04-12 15:18] EOGrady21 opened #166 "Multiple copies of directories showing in selection window"
I am having an issue where shinyDirButton is showing many copies of the same directories. (see screenshot)
As I open sub-folders, more and more copies appear until it is almost impossible to navigate.

![dir_copies](https://user-images.githubusercontent.com/38440373/162995000-6026117d-3d3d-44fe-935d-5f277398f514.PNG)

The relevant chunks of my code look like this:
[code]

My `sessionInfo()` output

[2022-04-27 05:51] vnijs commented on #166
I can't replicate what you are seeing. Check if the command below works on your system (i.e., if the `Folder select` button shown in the example works as expected)

[code]

[2022-04-27 06:56] vnijs commented on #163
Sorry for the delay. I adapted your code and included it in the GitHub version of shinyFiles. Please take a look and let us know if you encounter any issues. Thanks

BTW I recently upgrade to Win 11 and WMIC is still present. It is good to have this change, regardless

[2022-04-27 11:51] EOGrady21 commented on #166
Thank you, the example works as expected.
I am also having a hard time replicating the issue with my own example. Apologies. Hopefully it was resolved.

[2022-04-27 11:51] #166 closed

[2022-05-03 21:33] pakom opened #167 "Warnings for the lengths in conditions when choosing files and folders"
Hi and thank you for the wonderful package.

Today I updated to the latest R version (4.2.0). The [package I have](https://cran.r-project.org/package=RALSA) uses `shinyFiles` to choose input and output files and folders. Until the update to R 4.2.0 it all worked fantastic. After the update it still works, but warning messages started appearing in the console when I click on a `shinyFiles` button a

[2022-05-04 12:04] pakom commented on #167
I can now confirm the issue is found in Linux and Windows. [@jmcvw has confirmed in MacOS too](https://github.com/jmcvw/mrup/issues/4#issue-1224300322).

[2022-05-06 05:02] vnijs commented on #167
Thanks for reporting @pakom! I pushed a fix to github. Please try out the development version and let us know if you notice any issues.

[code]

[2022-05-06 06:50] jmcvw commented on #167
That fix seems to resolve all issues for me. Many thanks @vnijs.

[2022-05-06 07:59] pakom commented on #167
@vnijs Thank you very much for the fixes!

However, now I experience a different issue with `shinyDirChoose`. When I click on the button to choose an input directory, no volume is listed in the drop-down menu on the top, although the tree on the left shows the content of the `C:` drive.
![Screen-2022-05-06_09-26-36](https://user-images.githubusercontent.com/15523823/167090278-32e335bb-407f-4b60-95

[2022-05-06 09:07] jmcvw commented on #167
Hey @pakom. That's interesting. I have no issues with selecting volumes, or with the tree updating.

[2022-05-06 14:46] jmcvw commented on #167
@pakom I also use `getVolumes()`. If I recall, the default is just supplied as the first volume "got". Would that work in your case?
For me, your issue only occurs on the "Convert data" and "Merge data" options. The others seem to default to 'Machintosh HD`, or 'Windows (C:)` where I can navigate the other folders as normal

[2022-05-06 16:07] pakom commented on #167
@jmcvw Yes, you are right, you have `getVolumes()` in the `helpers.R` file, I missed it the first time.

Indeed, these issues occurs only in the "Convert data" and "Merge data" tabs in my app, but this is only because these are the only ones where `shinyDirChoose` is used. The reason why it works on your Mac which has one volume only that I can think of is that having one volume means having a vec

[2022-05-07 23:26] vnijs commented on #167
@pakom I think I found the issue. Started in a previous comment. Please test the latest version on GitHub and report back if there are any issues. Thanks

[2022-05-08 11:30] pakom commented on #167
@vnijs YES! Thank you very much for this. I tested all instances of `shinyFiles` buttons in my package and can confirm that there are no warnings, errors and crashes. Thank you once again!

@jmcvw Maybe you can check and confirm this too.

[2022-05-08 12:45] jmcvw commented on #167
Excellent, everything works perfectly for me now too. Thanks @vnijs.

[2022-05-08 13:00] pakom commented on #167
OK, happy to close this.

[2022-05-08 13:00] #167 closed

[2022-05-08 18:15] vnijs commented on #167
Thanks @pakom and @jmcvw!

[2022-05-09 03:52] vnijs commented on #165
@jllipatz I'm going to close this issue for now. If there are things to do in `shinyFiles` please re-open or start a new issue. Thanks

[2022-05-09 03:52] #165 closed

[2022-05-09 03:53] vnijs commented on #163
@Mailinnia After a fair amount of testing the approach adapted from your code seems to work well. Thanks again for reporting!

[2022-05-09 03:53] #163 closed

[2022-05-09 03:54] #162 closed

[2022-05-14 18:40] thecch opened #168 "Using without modal"
I'm tying to use the content of the modal pop up directly within shiny it. However, I can't seem to find any function that offer this capability and was wondering if it is even possible. I don't want to start cannibalizing source codes without having the need to.

P.S. I can't find any official documentation on shinyFiles. Would greatly appreciate if someone can link it.

[2022-05-15 01:02] vnijs commented on #168
You would have to setup your own JS code to extract information. Not straightforward. ShinyFiles documentation is here:

https://cran.r-project.org/web/packages/shinyFiles/shinyFiles.pdf

[2022-05-15 01:02] #168 closed

[2022-05-20 13:15] xuefenfei712 commented on #106
Thankyou for your answer, i also have this problem. i use your code and  the example command you posted here, though i can get the path and create a folder, whenever I click on the folder,  I got the warning message below, how to solver it, thankyou

Warning in is.null(tree) || is.na(tree) :
  'length(x) = 7 > 1' in coercion to 'logical(1)'
Warning in is.null(tree) || is.na(tree) :
  'length(x) =

[2022-05-23 13:57] xuefenfei712 opened #169 "ShinyDirChoose create new folder collapse in MacOS"
Dear Thanks for your useful tool, I learn it and use it to select and create a folder in my laptop, it works well in Win10, however in MacOS when I create a new folder, it crashes, while the fold can be created.

dir <- reactive({
    shinyDirChoose(input, 'sheets_dir', roots = Theroots(), session = session)
    parseDirPath(roots = Theroots(), input$sheets_dir)
  })
Can you have a solution, thank

[2022-05-24 08:24] thomasp85 opened #170 "Release shinyFiles 0.9.2"
Prepare for release:

* [x] `git pull`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_shinyFiles.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_c

[2022-05-24 19:10] #170 closed

[2022-05-27 07:48] gian-asco commented on #167
I would like to add that running the following example using the developmental version does not produce any warning or error both on ubuntu 18.04 and on macos

[code]

[2022-06-04 14:08] davboehm opened #171 "Powershell getVolumes() bug"
There seems to be a bug in the powershell command for getting the drives.
Write-Output does not write an output for VolumeLabel if the drives [IsReady](https://docs.microsoft.com/en-us/dotnet/api/system.io.driveinfo.isready?view=net-6.0#system-io-driveinfo-isready) flag is set to "False" 0  (e.g. a Network drive is not connected), then the matrix gets shifted by one and the names don't match anymo

[2022-08-12 01:02] hemstrow opened #172 "hidding one shinyFilesButton with shinyjs inside renderUI call causes buttons to ask for input twice on click"
Hey there!

I noticed that if one shinyFilesButton is generated within the server part of an app and hidden via shinyjs *with the hidden call inside the renderUI call only*, clicking on *any* shiny files button in the app will cause the request to launch twice (selecting or cancelling once will immediately pull up another file browser window).

I'm not sure if this is actually unexpected behavior

[2022-08-12 07:16] vnijs commented on #172
Sorry, but I have no idea what the underlying cause is here.

[2022-08-12 19:37] hemstrow commented on #172
It seems like the problem also occurs if you call `hidden` on an a fluidRow/inputPanel/etc in the UI as well *unless you then also wrap the shinyFilesButton in `hidden`*. Something like this in the UI works ok, for example:

[code]

but this wouldn't:

[code]

So again weird `hidden` interactions. I'm not sure if that helps! Like before, this actually messes up *every* shinyFilesButton in the app,

[2022-08-19 13:33] thomasp85 opened #173 "Release shinyFiles 0.9.3"
Prepare for release:

* [x] `git pull`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_shinyFiles.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_c

[2022-08-19 14:05] #173 closed

[2022-08-27 01:14] stangandaho opened #174 "Root not appearing after deploying the application"
I have developed an application using the shinyFiles package. The application runs very well on my local machine where I select folders that contain certain files. As you can see on the left, I have defined the root that bring me to my disks. But once the application is deployed, the root doesn't appear anymore and I only see computer that offers me unwanted folders.

![shinyFiles issue](https://u

[2022-08-27 01:34] vnijs commented on #174
shinyFiles is designed to give you access to the file system of the computer where the application runs. This computer will be your computer when running locally and a server when running on a server. If that is not what you want you should use shiny's default `fileInput`

[2022-08-27 01:34] #174 closed

[2022-08-27 01:37] stangandaho commented on #174
I understood, thank you!

[2022-09-13 10:13] sbihorel opened #175 "Use reactive object to set default path of shinyFiles::shinyDirChoose"
Hi,

Thank you for creating and sharing shinyFiles to the community. Really helpful! I recently posted a question to RStudio Community but got no takers... I'm hoping that you'll be able to provide some insights to the following problem.

I would like to set the default path of a shinyFiles::shinyDirButton / shinyFiles::shinyDirChoose based upon the folder selected in another shinyFiles::shinyDirB

[2022-09-29 05:49] daattali opened #176 "Feature request: allow a file chooser UI that doesn't pop up in a modal"
I have a use case where I'd like to add a file selector to a shiny app, but I want the file selection section to be embedded on the page rathern than appear in a modal after clicking a button. It would be great if that was supported by shinyFiles.

[2022-09-29 06:23] thomasp85 commented on #176
yeah, I remember thinking about that use case once I started building the package so I'm not opposed to it. I'm just not able to take on the development and don't know if @vnijs has the time for it.

That is to say, PRs are very welcome 🙂

[2022-09-29 18:47] daattali commented on #176
I'm going to try looking for alternatives. If I REALLY need this I might come back and work on a PR

[2022-11-06 03:27] daattali commented on #176
By the way, I ended up making one to suit exactly what I needed. It's mcuh less feature-rich than {shinyFiles}, much more simplistic. https://github.com/daattali/shinyfilebrowser (I don't see this one ever becoming as powerful as shinyFiles)